h2 {
  box-shadow: none;
}

.row {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.card-img-top {
  min-height: 11rem;
}

.card-body {
  grid-area: title;
  background-color: #053747;
  color: #ffffff;
  min-height: 18rem;
  max-height: 18rem;
  line-height: 1.4285em;
  padding-left: 1rem;
}

.card:hover {
  border: none;
  box-shadow: 2px 2px 2px 1px #053747;
}

@media screen and (max-width: 1199px) {
  .row {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 991px) {
  .row {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .row {
    grid-template-columns: auto;
  }
  .card-body {
    min-height: 12rem;
    max-height: 12rem;
  }
}
