h2 {
  box-shadow: none;
}

.row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

a {
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .row {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 991px) {
  .row {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .row {
    grid-template-columns: auto;
  }
  .card-body {
    min-height: 12rem;
    max-height: 12rem;
  }
}
