<a [routerLink]="['/news-agenda-list-all', 9999]">
  <h1 *ngIf="currentLang === 'es-ES'">Noticias</h1>
  <h1 *ngIf="currentLang === 'ca-ES'">Notícies</h1>
</a>
<section *ngIf="noticias">
  <div class="row">
  <div *ngFor="let noticia of noticias">
    <div class="col">
      <section class="card">
        <figure class="card-header">
          <img *ngIf="noticia.attributes.images.image_intro" class="img-fluid" src={{noticia.attributes.images.image_intro}} alt={{noticia.attributes.title}} title={{noticia.attributes.title}} />
          <img *ngIf="!noticia.attributes.images.image_intro" class="img-fluid" src="https://picsum.photos/310?grayscale&blur=4" alt={{noticia.attributes.title}} title={{noticia.attributes.title}} />
        </figure>
        <section class="card-body">
          <a [routerLink]="['/news-agenda-detail', noticia.attributes.alias, noticia.id]">
            <h4 *ngIf="faseNewsToDisplay==='11'" class="card-title">{{noticia.attributes.title}}</h4>
            <h5 *ngIf="faseNewsToDisplay!=='11'" class="card-title">{{noticia.attributes.title}}</h5>
          </a>
        </section>
      </section>
    </div>
  </div>
  </div>
</section>

<section *ngIf="!listNewsReady">
  <div class="row">
  <div *ngFor="let item of [1,2,3,4]">
  <article class="card" aria-hidden="true" id="noticiaUnoPlaceHolder">
    <div>
      <img src="https://via.placeholder.com/260x145.png?text=...loading news list" class="card-img-top" alt="loading image">
    </div>
   
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
      </p>
    </div>
  </article> 
</div>
</div> 
</section>