h1 {
  margin-bottom: 2rem;
}

.row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-gap: 1rem 0;
}

.row-emprender {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: .5rem .5rem;
}

.row-conectar {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: .5rem .5rem;
}

.row-proyectar {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: .5rem .5rem;
}

.btn {
  padding: 0;
}

.card-header {
  padding: 0;
}

h6 {
  color: #fff;
}
h6:hover {
  color: #0098CB;
}
@media screen and (max-width: 1320px) {
  .card-body {
    min-height: 10rem;
    max-height: 10rem;
  }
}

@media screen and (max-width: 992px) {
  .row {
    grid-template-columns: 50% 50%;
  }
  
  h6 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 760px) {
  .row {
    grid-template-columns: auto;
  }
  .card {
    margin-bottom: 1rem;
  }
  h6 {
    font-size: 1.5rem;
  }
  .card-body {
    min-height: 12rem;
    max-height: 12rem;
  }
}