<header>
  
  <nav class='nav-bar-left-logo' id="logotipo">
    <a class="navbar-brand" href="#">
      <img src="../assets/images/logo-adr-balears.webp" alt="ADR Balears" title="ADR Balears" width="100px" height="auto">
    </a>
  </nav>

  <nav class="navbar nav-bar-top">
    <div class="nav-bar-top-language"><button class="btn button-header-menu" #langSelect (click)="switchLanguage('cat')">cat</button><button class="btn button-header-menu "#langSelect (click)="switchLanguage('cas')">cas</button></div>
    <div class="nav-bar-top-sede-elect"><button class="btn button-header-menu" (click)="sedeElectronica()">{{'Sede_Elect' | translate}}</button></div>
  </nav>

  <nav class="navbar navbar-expand nav-bar-bottom">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <div ngbDropdown class="d-inline-block">
              <button class="btn button-header-menu" id="dropDownADRBalears" ngbDropdownToggle>ADR Balears</button>
              <div ngbDropdownMenu aria-labelledby="dropDownADRBalears">
                <button ngbDropdownItem routerLink="about-adr-balears">{{'quienesSomos' | translate}}</button>
                <button ngbDropdownItem routerLink="news-agenda-list/4">Noticias / Agenda</button>
                <!-- <button ngbDropdownItem>Buscador de puntos de atención</button> -->
                <button ngbDropdownItem routerLink="transparency-list">{{'Transparencia' | translate}}</button>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div ngbDropdown class="d-inline-block">
              <button class="btn button-header-menu" id="dropDownADRBalears" ngbDropdownToggle>Nuestros Proyectos</button>
              <div ngbDropdownMenu aria-labelledby="dropDownADRBalears">
                <h5 class="emprender fase">#EMPRENDRE</h5>
                <button class ="emprender" ngbDropdownItem>IBEMPRENJOVE</button>
                <button class ="emprender" ngbDropdownItem>IBEMPREN</button>
                <button class ="emprender" ngbDropdownItem>IBTALENT</button>
                <button class ="emprender" ngbDropdownItem>IBGESTIÓxecs</button>
                <button class ="emprender" ngbDropdownItem>IBDIGITALITZACIÓxecs</button>
                <h5 class="conectar fase">#CONNECTAR</h5>
                <button class ="conectar" ngbDropdownItem>EMBLEMÀTICS</button>
                <button class ="conectar" ngbDropdownItem>IBCOMERÇ a escola</button>
                <button class ="conectar" ngbDropdownItem>PÀ D'AQUÍ</button>
                <button class ="conectar" ngbDropdownItem>ILS marca garantia</button>
                <button class ="conectar" ngbDropdownItem>IBSOSTENIBILITATxecs</button>
                <button class ="conectar" ngbDropdownItem>IBAVALS industria</button>
                <button class ="conectar" ngbDropdownItem>IBEXPOSAproductelocal</button>
                <button class ="conectar" ngbDropdownItem>IBRELLEU</button>
                <h5 class="proyectar fase">#PROJECTAR</h5>
                <button class ="proyectar" ngbDropdownItem>IBEXPORTAxecs</button>
                <button class ="proyectar" ngbDropdownItem>LOOP</button>
                <button class ="proyectar" ngbDropdownItem>INVESTINBALEARICS</button>
                <button class ="proyectar" ngbDropdownItem>PIBS</button>
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div ngbDropdown class="d-inline-block">
              <button class="btn button-header-menu" id="dropDownADRBalears" ngbDropdownToggle>Potencia tu proyecto</button>
              <div ngbDropdownMenu aria-labelledby="dropDownADRBalears">
              <!--   <button ngbDropdownItem>Quiero asesorarme</button> -->
                <button class="emprender" ngbDropdownItem>Quiero emprender</button>
                <button class="conectar" ngbDropdownItem>Quiero consolidarme</button>
                <button class="proyectar" ngbDropdownItem>Quiero crecer</button>
              <!--   <button ngbDropdownItem>Quiero internacionalizarme</button>
                <button ngbDropdownItem>Quiero financiarme</button> -->
               <!--  <li><hr class="dropdown-divider"></li>
                <button ngbDropdownItem>Buscador de Coworkings</button>
                <button ngbDropdownItem>Buscador de parcelas y naves</button> -->
              </div>
            </div>
          </li>
          <li class="nav-item">
            <div ngbDropdown class="d-inline-block">
              <button class="btn button-header-menu" id="dropDownADRBalears" ngbDropdownToggle>Contacta</button>
              <div ngbDropdownMenu aria-labelledby="dropDownADRBalears">
                <button ngbDropdownItem routerLink="contact-adr-balears">Solicitar asesoramiento</button>
                <button ngbDropdownItem routerLink="contact-adr-balears">Solicitar ayudas</button>
                <button ngbDropdownItem routerLink="contact-adr-balears">Solicitar formaciones</button>
                <button ngbDropdownItem routerLink="contact-adr-balears">Pedir cita</button>
              </div>
            </div>
          </li>
        </ul>
      </div>
  </nav>

  <button class="btn mobile-menu-button" (click)="openCustomPanelClass(content)">
    <i class="bi bi-menu-button-wide-fill" style="font-size: 2rem; color:#053747;"></i>
  </button>

</header>

<ng-template #content let-offcanvas>
	<div class="offcanvas-header">
		<div class="offcanvas-title"><strong>ADR Balears</strong><hr>
    <small>Agència Desenvolupament Regional Balears</small></div>
		<button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
	</div>
	<div class="offcanvas-body">
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn" id="dropDownADRBalears" ngbDropdownToggle>ADR Balears</button>
          <div ngbDropdownMenu aria-labelledby="dropDownADRBalears">
            <button ngbDropdownItem (click)="offcanvas.dismiss('Cross click')" routerLink="about-adr-balears">{{'quienesSomos' | translate}}</button>
            <button ngbDropdownItem (click)="offcanvas.dismiss('Cross click')" routerLink="news-agenda-list/4">Noticias / Agenda</button>
            <!-- <button ngbDropdownItem (click)="offcanvas.dismiss('Cross click')">Buscador de puntos de atención</button> -->
            <button ngbDropdownItem (click)="offcanvas.dismiss('Cross click')" routerLink="transparency-list">{{'Transparencia' | translate}}</button>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn" id="ADRBalearsOurPro" ngbDropdownToggle>Nuestros Proyectos</button>
          <div ngbDropdownMenu aria-labelledby="ADRBalearsOurPro">
            <h5 class="emprender fase">#EMPRENDRE</h5>
            <button class ="emprender" ngbDropdownItem>IBEMPRENJOVE</button>
            <button class ="emprender" ngbDropdownItem>IBEMPREN</button>
            <button class ="emprender" ngbDropdownItem>IBTALENT</button>
            <button class ="emprender" ngbDropdownItem>IBGESTIÓxecs</button>
            <button class ="emprender" ngbDropdownItem>IBDIGITALITZACIÓxecs</button>
            <h5 class="conectar fase">#CONNECTAR</h5>
            <button class ="conectar" ngbDropdownItem>EMBLEMÀTICS</button>
            <button class ="conectar" ngbDropdownItem>IBCOMERÇ a escola</button>
            <button class ="conectar" ngbDropdownItem>PÀ D'AQUÍ</button>
            <button class ="conectar" ngbDropdownItem>ILS marca garantia</button>
            <button class ="conectar" ngbDropdownItem>IBSOSTENIBILITATxecs</button>
            <button class ="conectar" ngbDropdownItem>IBAVALS industria</button>
            <button class ="conectar" ngbDropdownItem>IBEXPOSAproductelocal</button>
            <button class ="conectar" ngbDropdownItem>IBRELLEU</button>
            <h5 class="proyectar fase">#PROJECTAR</h5>
            <button class ="proyectar" ngbDropdownItem>IBEXPORTAxecs</button>
            <button class ="proyectar" ngbDropdownItem>LOOP</button>
            <button class ="proyectar" ngbDropdownItem>INVESTINBALEARICS</button>
            <button class ="proyectar" ngbDropdownItem>PIBS</button>
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn" id="ADRBalearsPowerPro" ngbDropdownToggle>Potencia tu proyecto</button>
          <div ngbDropdownMenu aria-labelledby="ADRBalearsPowerPro">
            <!-- <button ngbDropdownItem (click)="offcanvas.dismiss('Cross click')">Quiero asesorarme</button> -->
            <button ngbDropdownItem class="emprender" (click)="offcanvas.dismiss('Cross click')">Quiero emprender</button>
            <button ngbDropdownItem class="conectar" (click)="offcanvas.dismiss('Cross click')">Quiero consolidarme</button>
            <button ngbDropdownItem class="proyectar" (click)="offcanvas.dismiss('Cross click')">Quiero crecer</button>
<!--             <button ngbDropdownItem (click)="offcanvas.dismiss('Cross click')">Quiero internacionalizarme</button>
            <button ngbDropdownItem (click)="offcanvas.dismiss('Cross click')">Quiero financiarme</button>
            <li><hr class="dropdown-divider"></li>
            <button ngbDropdownItem (click)="offcanvas.dismiss('Cross click')">Buscador de Coworkings</button>
            <button ngbDropdownItem (click)="offcanvas.dismiss('Cross click')">Buscador de parcelas y naves</button> -->
          </div>
        </div>
      </li>
      <li class="nav-item">
        <div ngbDropdown class="d-inline-block">
          <button class="btn" id="ADRBalearsContact" ngbDropdownToggle>Contacta</button>
          <div ngbDropdownMenu aria-labelledby="ADRBalearsContact">
            <a href="#solicitarasesoramiento" ngbDropdownItem (click)="scroll('solicitarasesoramiento');offcanvas.dismiss('Cross click')">Solicitar asesoramiento</a>
            <button ngbDropdownItem (click)="offcanvas.dismiss('Cross click')">Solicitar ayudas</button>
            <button ngbDropdownItem (click)="offcanvas.dismiss('Cross click')">Solicitar formaciones</button>
            <button ngbDropdownItem (click)="offcanvas.dismiss('Cross click')">Pedir cita</button>
          </div>
        </div>
      </li>
    </ul>
		<!-- <div class="text-end">
			<button type="button" class="btn btn-outline-dark" (click)="offcanvas.close('Close click')">Close</button>
		</div> -->
	</div>
</ng-template>
