header {
  display: grid;
  grid-template-areas: "navLogo navLangSede" "navLogo navBottom" "titleHeader titleHeader";
  grid-template-columns: 8% 92%;
  margin-top: .2rem;
  margin-bottom: 2rem;
}

.nav-bar-left-logo {
  grid-area: navLogo;
}

.offcanvas-header {
  background-color: #019ee5;
  color: #fff;
}

.offcanvas-body {
  background-color: #ec9e37;
  color: #fff;
}

.btn-close {
  color: #fff;
}

.mobile-menu-button {
  grid-area: mobileMenu;
  display: none;
  padding-right: .2rem;
  text-align: right;
}

.nav-bar-top {
  grid-area: navLangSede;
  display: grid;
  grid-template-columns: auto auto;
  justify-content: flex-end;
}

.nav-bar-bottom{
  grid-area: navBottom;
  display: grid;
  justify-content: flex-end;
}

.nav-bar-top-language {
  display: grid;
  grid-template-columns: auto auto;
  padding: .25rem;
  gap: .25rem;
  text-align: center;
}

.button-header-menu {
  border-radius: 0;
  color: #003747;
}

button:hover {
  background-color: #0098CB;
  color: #fff!important;
}

.emprender-header {
  color: #fff!important;
  background-color: #6b9da7;
  padding: 4px 4px 4px 8px;
}
.conectar-header {
  color: #fff!important;
  background-color: #71b796;
  padding: 4px 4px 4px 8px;
}
.proyectar-header {
  color: #fff!important;
  background-color: #ed7448;
  padding: 4px 4px 4px 8px;
}
.emprender-header:hover, .conectar-header:hover, .projectar-header:hover {
  cursor: default;
}

h5 {
  margin-bottom:0;
}

@media screen and (max-width: 1200px) {
  header {
     grid-template-areas: "navLogo navLangSede" "navBottom navBottom";
     margin-bottom: 1rem;
     grid-template-columns: 12% 88%;
   }
}

@media screen and (max-width: 760px) {
 header {
    grid-template-areas: "navLogo mobileMenu" "navLangSede navLangSede";
  }
  .nav-bar-top {
    padding: 0 .5rem;
  }
  .mobile-menu-button:hover {
    background-color: transparent;
  }
  .button-header-menu{
    margin-right: 0;
  }
  .nav-bar-bottom {
    display: none;
  }
  .mobile-menu-button {
    display: block;
    margin: 0;
  }
  div button:hover {
    color: #000;
    border-color: #033747;
  }

a img {
  width: 450px;
 }
 
}

@media screen and (max-width: 576px) {
  header {
    grid-template-areas: "navLogo" "mobileMenu" "navLangSede";
    grid-template-columns: 100%;
  }
  .button-header-menu {
    font-size: .7rem;
    margin-right: .2rem;
  }
  a img {
    width: 390px;
  }
  .nav-bar-left-logo {
    text-align: center;
  }
}
