header {
  /* background-color: rgba(0, 55, 71,.3); */
  display: grid;
  grid-template-areas: "navLogo navLangSede" "menu menu";
  grid-template-columns: auto auto;
  margin-top: .2rem;
  margin-bottom: 4rem;
}

.offcanvas-header {
  background-color: #019ee5;
  color: #fff;
}

.offcanvas-body {
  background-color: #ec9e37;
  color: #fff;
}

.btn-close {
  color: #fff;
}

.mobile-menu-button {
  grid-area: mobileMenu;
  display: none;
  padding-right: .2rem;
  text-align: right;
}

.nav-bar-left-logo {
  grid-area: navLogo;
  background-color: #fff;
}

.adr-texto {
  grid-area: adrtexto;
}

.nav-bar-top {
  grid-area: navLangSede;
  display: grid;
  justify-content: flex-end; 
}

.nav-bar-top-sede-elect{
  grid-area: menu;
  text-align: center;
}

.nav-bar-bottom{
  grid-area: navBottom;
  display: grid;
  justify-content: flex-end;
  border: 1px solid blue;
}

.nav-bar-top-language {
  display: grid;
  grid-template-columns: auto auto;
  padding: .25rem;
  gap: .25rem;
  text-align: center;
}

.button-header-menu {
  border-radius: 0;
  margin-right: .5rem;
  color: #003747;
}

.emprender-header {
  color: #fff!important;
  background-color: #6b9da7;
  padding: 4px 4px 4px 8px;
}
.conectar-header {
  color: #fff!important;
  background-color: #71b796;
  padding: 4px 4px 4px 8px;
}
.proyectar-header {
  color: #fff!important;
  background-color: #ed7448;
  padding: 4px 4px 4px 8px;
}
.emprender-header:hover, .conectar-header:hover, .projectar-header:hover {
  cursor: default;
}

h5 {
  margin-bottom:0;
}

@media screen and (max-width: 760px) {
 header {
    grid-template-areas: "navLogo mobileMenu" "navLogo navLangSede";
    margin-bottom: 1rem;
    grid-template-columns: 12% 88%;
    margin-top: 0.1rem;
    max-height: 120px;
  }
  .nav-bar-top {
    padding: 0 .5rem;
  }

  button:hover {
    background-color: transparent;
  }
  .button-header-menu{
    margin-right: 0;
  }
  .nav-bar-bottom {
    display: none;
  }
  .mobile-menu-button {
    display: block;
    margin: 0;
  }
  div button:hover {
    color: #fff;
    border-color: #033747;
 }

 a img {
  width: 110px;
 }
 
}

@media screen and (max-width: 400px) {
  .button-header-menu {
    font-size: .7rem;
    margin-right: .2rem;
  }
}
