.cta {
  background-color: #003747;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: .2rem;
  border: none;
  width: 100%;
} 

form {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  justify-content: center;
}

.ocultar {
  display: none;
}

.mostrar {
  background-color: lightgray;
  padding: 1rem;
}

.cta-left, .cta-center {
  background-color: #003747;
  color: #fff;
}

.cta-center {
  text-align: center;
}

.cta-left {
  background-color: #003747;
  color: #fff;
}

.cta-right {
  background-color: #003747;
  color: #fff;
}

.cta-right > span {
  margin: 0;
  position: relative;
  top: 20%;
  font-size: .8rem;
  font-weight: bolder;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  color: #0098CB;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

a {
  background-color: #019ee5;
}

button, input {
  position: unset;
  width: 100%;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bolder;
}

input {
  letter-spacing: .5rem;
}

@media screen and (max-width: 795px) {

  form {
    display: grid;
    grid-template-columns: 100%;
    
    justify-content: center;
  }
 /*  .cta {
    grid-template-columns: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
  }
  .cta-left {
    border-left: none;
  }

  .cta-left, .cta-center {
    padding: 1rem;
  }
  .cta-right {
    padding: 1rem;
  }
  .cta-right > button {
    position: unset;
    width: 100%;
    padding: 1rem;
    font-size: .8rem;
    font-weight: bolder;
  } */
}