
<button class="cta" (click)="ctaFormClick()">
  <div class="cta-center" innerHTML="{{ctaTextCenter}} {{ctaTextRight}}">
  
  </div>
</button>

<form [formGroup]="ctaForm" (ngSubmit)="sendContactForm()" [ngClass]="{ocultar: !showCtaForm, mostrar: showCtaForm}">
  <div class="col-auto">
    <input type="email" id="emailCta" class="form-control" placeholder="email@example.com" formControlName="email">
  </div>
  <div class="col-auto">
    <button type="submit" [disabled]="ctaForm!.invalid" class="btn btn-primary" id="sendCta" [ngClass]="{ocultar: !showCtaForm}">
      <span *ngIf="currentLang === 'es-ES'">Contactadme para recibir asesoramiento</span>
      <span *ngIf="currentLang === 'ca-ES'">Contactar-me per a rebre assessorament</span>
    </button>
  </div>
</form>
<small class="alert alert-success" [ngClass]="{ocultar: !showInfoLabel}" [innerHTML]="infoLabel"></small>
