@use '../../adr-colors';
@use '../../utilities.scss';

.cta {
  margin-top: 5rem;
  margin-bottom: 0;
  border: 0 none;
  width: 100%;
} 

form {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  justify-content: center;
}

.col-auto {
  text-align: center;
}

.ocultar {
  display: none;
}

.mostrar {
  background-color: lightgray;
  padding: 1rem;
}

.cta-left, .cta-center {
  background-color: adr-colors.$primary-adr;
  color: #fff;
  padding: .5rem;
}

.cta-center {
  text-align: center;
  border-radius: 1rem 1rem 0 0;
}

.cta-left {
  background-color: adr-colors.$primary-adr;
  color: #fff;
}

.cta-right {
  background-color: adr-colors.$primary-adr;
  color: #fff;
}

.cta-right > span {
  margin: 0;
  position: relative;
  top: 20%;
  font-size: .8rem;
  font-weight: bolder;
}
.form-control:focus {
  outline: none;
  box-shadow: none;
  color: adr-colors.$secondary-adr;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

a {
  background-color: adr-colors.$secondary-adr;
}

input {
  position: unset;
  width: 100%;
  font-size: 1.2rem;
  font-weight: bolder;
}

input {
  letter-spacing: .2rem;
}

#postFeedback {
  display: none;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
}

#postFeedback.requestOk {
  background-color: green;
}

#postFeedback.requestKo {
  background-color: red;
}

#postFeedback.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@media screen and (max-width: 760px) {

  form {
    display: grid;
    grid-template-columns: 100%;
    justify-content: center;
  }

}