.cta {
  background-color: #003747;
  display: grid;
  grid-template-columns: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding: .2rem;
} 

.cta-left, .cta-center {
  background-color: #003747;
  color: #fff;
}

.cta-center {
  text-align: center;
}

.cta-left {
  background-color: #003747;
  color: #fff;
}

.cta-right {
  background-color: #003747;
  color: #fff;
}

.cta-right > span {
  margin: 0;
  position: relative;
  top: 20%;
  font-size: .8rem;
  font-weight: bolder;
}

div:hover, a:hover {
  background-color: #019ee5;
}

a {
  background-color: #019ee5;
}

@media screen and (max-width: 795px) {
 /*  .cta {
    grid-template-columns: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
  }
  .cta-left {
    border-left: none;
  }

  .cta-left, .cta-center {
    padding: 1rem;
  }
  .cta-right {
    padding: 1rem;
  }
  .cta-right > button {
    position: unset;
    width: 100%;
    padding: 1rem;
    font-size: .8rem;
    font-weight: bolder;
  } */
}