<div class="body-main">
  <ngb-carousel
  #carousel
  [interval]="10000"
  [pauseOnHover]="pauseOnHover"
  [pauseOnFocus]="pauseOnFocus"
  (slide)="onSlide($event)"
  >
  @for (img of images; track img; let i = $index) {
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[0]" alt="Random first slide" />
      </div>
      <div class="carousel-caption">
        <h3>ADR Balears</h3>
        <p>contenido específico - {{i}} - (según la <strong>PREGUNTA 01</strong>)</p>
      </div>
    </ng-template> 
  }
  </ngb-carousel>
  <app-search-the-web *ngIf="showSearch"></app-search-the-web>

  <div class='pre-defined-filter-area'>
    <h4>Sección filtrable (según la <strong>PREGUNTA 02</strong>)</h4>
    <h5>Accesos rápidos según el filtro seleccionado</h5>
    <ul>
      <li><a routerLink='landing-page/:projectName'>Enlace 1 a sección con contenido relacionado</a></li>
      <li><a routerLink='landing-page/:projectName'>Enlace 2 a sección con contenido relacionado</a></li>
      <li><a routerLink='landing-page/:projectName'>Enlace 3 a sección con contenido relacionado</a></li>
      <li><a routerLink='landing-page/:projectName'>Enlace 4 a sección con contenido relacionado</a></li>
      <li><a routerLink='landing-page/:projectName'>Enlace 5 a sección con contenido relacionado</a></li>
    </ul>
  </div>
</div>

<app-call-to-action ctaTextRight="{{theRightLema}}" ctaTextLeft="{{theLeftLema}}" ctaTextCenter="{{theCenterLema}}"></app-call-to-action>