.body-main {
  display: grid;
  grid-template-columns: 60% 40%;
  grid-template-areas: "carousel formulario" "carousel preDefinedFilter";
  gap: .2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

ngb-carousel {
  grid-area: carousel;
}

.carousel-caption h3 {
  padding: .3rem;
}

.filter-area {
  grid-area: formulario;
  background-color: #d5d5d5;
  margin-bottom: .1rem;
  padding: .2rem;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: .2rem;
}

.pre-defined-filter-area {
  grid-area: preDefinedFilter;
  background-color: #5274f6;
  color: #fff;
  padding: .2rem;
  padding: .5rem;

}

button {
  background-color: #053747;
  border-radius: 0;
  color: #fff;
}

button:hover {
  background-color: #ec9e37;
  border: 1px solid #053747;
  color: #000;
}

.buttons-area{
  text-align: center;
  margin-bottom: 0.75rem;
}

input {
  border-radius: 0;
}

.form-control:focus {
  border-color: #053747;
  outline: none;
  box-shadow: none;
  color: #053747;
}

.accordion-item{
  margin-bottom: .5rem;
  box-shadow: none;
}

.accordion-item h2 {
  border-radius: 0;
  box-shadow: none;
}

.accordion-item h3 {
 margin-bottom: 0;
 font-size: .9rem;
 box-shadow: none;
}

.ocultar {
  display: none;
}

a {
  color: #fff;
}

@media screen and (max-width: 795px) {
  .body-main {
    grid-template-columns: 100%;
    grid-template-areas: "carousel" "formulario" "preDefinedFilter";
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .filter-area {
    text-align: center;
  }
}


