@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

mat-card {
  border-radius: 1rem;
  color: #fff;
  --spacing: 1.2rem;
  padding: var(--spacing);
  margin-bottom: var(--spacing);
  animation: 1s ease-out 0s 1 slideInFromLeft;
}

mat-card:hover {
  transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg);
  transform-style: preserve-3d;
}

mat-card-title {
  padding: .5rem;
  font-size: 1.5rem;
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem;
}

mat-card-content {
  text-align: right;
}

mat-grid-list{

}

mat-grid-tile {
  background-color: transparent;

}

.entidades-colaboradoras{
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 1rem;
}

.al-ciudadano{
  border: 1px solid;
  border-radius: 1rem;
  padding: 1rem;
}

img {
  width: 129px;
  height: auto;
}

.gradient-examples {
  display: grid;
  gap: 1rem;
  grid-template-rows: repeat(3, 1fr);
  margin: auto;
  max-height: 250px;
  max-width: 800px;
  padding: 1rem;
}

@media (min-width: 600px) {
  .gradient-examples {
    grid-template-columns: repeat(3, 1fr);
  }
}




/* ------------------------------------------------------------------------------------------------------- */
.body-main {
  display: grid;
  grid-template-columns: 65% 35%;
  grid-template-areas: "carousel searcharea";
}

h1 {
  margin-bottom: 0;
}

app-slider {
  grid-area: carousel;
}

app-search-the-web {
  grid-area: searcharea;
  background-color: transparent;
  margin-left: 1px;
}

.buttons-area{
  text-align: center;
  margin-bottom: 0.75rem;
}

.area-profile {
  margin-bottom: 4rem;
  background-color: #003747;
  padding: .5rem;
}

.area-profile h1:hover {
  color: #fff;
}

input {
  border-radius: 0;
}

.form-control:focus {
  border-color: #053747;
  outline: none;
  box-shadow: none;
  color: #053747;
}

.accordion-item{
  margin-bottom: .5rem;
  box-shadow: none;
}

.accordion-item h2 {
  border-radius: 0;
  box-shadow: none;
}

.accordion-item h3 {
 margin-bottom: 0;
 font-size: .9rem;
 box-shadow: none;
}

.ocultar {
  display: none;
}

a {
  color: #053747;
}

li a {
  color: #fff;
}

@media screen and (max-width: 760px) {
  .body-main {
    grid-template-columns: 100%;
    grid-template-areas: "carousel" "searcharea";
    margin-top: 1rem;
    margin-bottom: 1rem;
    gap: 2rem;
  }
  app-search-the-web {
    margin-left: 0;
  }
  .filter-area {
    text-align: center;
  }
}


