<form class="form" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
  <div class="row">
    <div class="col mb-3">
      <div class="form-group">
        <label for="contactName">
          <span *ngIf="currentLang === 'es-ES'">Tu nombre</span>
          <span *ngIf="currentLang === 'ca-ES'">El teu nom</span>
        </label>
        <input type="text"class="form-control" id="contactName" aria-describedby="nameHelp" formControlName="contactName"
        [ngClass]="f['contactName'].errors ? 'is-invalid':'is-valid'">
      </div>
      <div class="form-group">
        <label for="contactEmail">
          <span *ngIf="currentLang === 'es-ES'">Dirección de correo electrónico</span>
          <span *ngIf="currentLang === 'ca-ES'">Adreça de correu electrònic</span>
        </label>
        <input type="email" class="form-control" id="contactEmail" aria-describedby="emailHelp" formControlName="contactEmail" 
        [ngClass]="f['contactEmail'].errors ? 'is-invalid':'is-valid'">
        <small class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="contactPhone">
          <span *ngIf="currentLang === 'es-ES'">Teléfono</span>
          <span *ngIf="currentLang === 'ca-ES'">Telèfon</span>
        </label>
        <input type="tel" class="form-control" id="contactPhone" aria-describedby="phoneHelp" maxlength="9" minlength="9" formControlName="contactPhone" 
        [ngClass]="!f['contactPhone'].errors ? 'is-valid' : 'is-invalid'">
        <small class="form-text text-muted">We'll never share your phone with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="body">
          <span *ngIf="currentLang === 'es-ES'">Tu consulta</span>
          <span *ngIf="currentLang === 'ca-ES'">La teva consulta</span>
        </label>
        <textarea class="form-control" rows="3" id="body" formControlName="body" 
        [ngClass]="f['body'].errors ? 'is-invalid':'is-valid'"></textarea>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" formControlName="acceptTerms" 
        [ngClass]="f['acceptTerms'].errors ? 'is-invalid':'is-valid'">
        <label class="form-check-label" for="exampleCheck1"><a routerLink="/aviso-legal/2772" aria-label="aviso legal">
          <span *ngIf="currentLang === 'es-ES'">Aceptar los términos y condiciones</span>
          <span *ngIf="currentLang === 'ca-ES'">Acceptar els termes i condicions</span>
          </a></label>
      </div>
    </div>
  </div>
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary btn-lg" [disabled]="!contactForm.valid">
      <div class="text-center" *ngIf ="!submitted">Enviar</div>
      <div class="spinner-border" role="status" *ngIf ="contactForm.valid && submitted">
        <span class="visually-hidden">
          <span *ngIf="currentLang === 'es-ES'">Enviando consulta ...</span>
          <span *ngIf="currentLang === 'ca-ES'">Enviant consulta ...</span>
        </span>
      </div>
    </button>
    <span id="postFeedback"></span>
  </div>
</form>
