<div class='container-conectar'>
  <div class="top-conectar">
    <h1 class="conectar">#connectar</h1>
  </div>
  <div class="bottom-conectar">
    <div class="bottom-left-concectar">
      <img src='../../assets/images/logo-adrbalears-conectar.webp' alt=''>
    </div>
    <div class="bottom-right-conectar">
      <h2>Vols fer que la teva empresa sigui mes competitiva?</h2>
      <h3>Coneix totes les oportunitats que et permetran tenir una empresa més forta i competitiva, i connectada amb l'ecosistema.
        Disposam de programes de promoció del comerç, d'impuls a la indústria sostenible, de modernització, de finançament, de relleu
        empresarial, i de formació per a empreses que vulguin retenir i atreure talent.</h3>
      <h3><span>_Emblemàtics Balears:</span> protegim el teixit comercial de proximitat amb la visibilització dels comerços tradicionals.</h3>
      <h3><span>_IBComerç a l'escola: </span> distingim els forns amb obrador que elaboren artesanalment pans propis de les Illes Balears.</h3>
      <h3><span>_Pa d'aquí, forn i tradició:</span> assessorament per a empreses nacionals o internacionals que es volen establir a les Illes Balears.</h3>
      <h3><span>_Indústria Local Sostenible:</span> marca de garantia per a les indústries de les Illes Balears que iniciïn el camí cap a la sostenibilitat
        i es comprometin amb la reducció de la petjada de carboni.</h3>
      <h3><span>_Ibsostenibilitat Xecs: </span> finançament del càlcul de la petjada de carboni corporativa i de producte.</h3>
      <h3><span>_Ibavals Indústria:</span> ajuts per a empreses industrials per cobrir les despeses d'operacions de finançament per a inversions productives.</h3>
      <h3><span>_Sòl industrial:</span> disseny d'espais expositius per als productes locals de les Illes Balears.</h3>
      <h3><span>_Ibrelleu:</span> programa de relleu empresarial que posa en contacte persones emprenedores amb empresaris que volen cedir el seu negoci.</h3>
      <h3><span>_LOOP Disseny i Circularitat:</span> connexió, col·laboració, innovació i reflexió al voltant del disseny i els materials.</h3>
    </div>
  </div>
</div>
