<div class='container-contact'>
  <div class="left-contact">
    <img src='../../assets/images/logo-adrbalears-conectar.webp' alt=''>
  </div>
  <div class="right-contact">
    <h1 class="conectar">#CONNECTAR S2 S3 S4</h1><br><br>
    <h3>COMERCIO:</h3><br>
    <h2>EMBLEMÀTICS</h2>
    <h2>IBCOMERÇ a escola</h2>
    <h2>PÀ D'AQUÍ</h2><br>

    <h3>INDUSTRIA:</h3><br>
    <h2>ILS marca garantia</h2>
    <h2>IBSOSTENIBILITATxecs</h2>
    <h2>IBAVALS industria</h2>
    <h2>POLÍGONS</h2><br>

    <h3>TRANSVERSAL:</h3><br>
    <h2>IBEXPOSAproductelocal</h2>
    <H2>IBRELLEU</H2>
    <H2>Observatori/Think tank SECTORS</H2>
    <h2>Colaboraciones: EOI</h2>
  </div>
</div>
