.container-conectar{
  display: grid;
  grid-template-rows: 100% 100%;
}

.top-conectar {
  margin-bottom: 2rem;
}

.bottom-conectar {
  display: grid;
  grid-template-columns: 15% 85%;
}

h2:first-child{
  margin-bottom: 3rem;
}

h3 {
  font-weight: 200;
  margin-bottom: 2rem;
}

h3 > span {
  font-weight: bold;
  color: #71b796;
}

h1 {
  background-color: #71b796;
  color: #fff!important;
  padding: .5rem;
  width: 100%;
}

@media screen and (max-width: 795px) {
  .container-consolidar {
    grid-template-columns: 100%;
  }
}