<div class='filters'>
  <div class="filter-area"></div>
  <div class="filter-form">
    <form role="search" [formGroup]="searchTheWebForm" novalidate class="form-inline">
      <input *ngIf="currentLang === 'es-ES'" class="form-control" type="text" formControlName="searchTerm" placeholder="Buscar ..." aria-label="Search">
      <input *ngIf="currentLang === 'ca-ES'" class="form-control" type="text" formControlName="searchTerm" placeholder="Cerca ..." aria-label="Search">

      <button class="btn btn-search" type="submit" (click)="onClick(searchTheWebForm)"
      [disabled]="!searchTheWebForm.valid">Search <span class="badge text-bg-secondary ocultar" id="totalResults">
        <a [ngbTooltip]="tipContent" routerLink="/search-the-web-result-list/{{searchTerm!.value}}">{{totalFound}}</a></span>
      </button>
      <ng-template #tipContent>Ver los resultados de <b>ADR Balears</b>!</ng-template>
    </form>
  <!--   <div class='filter-form-pre-defined'>
     <a routerLink="filter-adr-balears/formacion"><small>Formación</small></a>
      <a routerLink="filter-adr-balears/ayudas"><small>Ayudas</small></a>
      <a routerLink="filter-adr-balears/eventos"><small>Eventos</small></a>
      <a routerLink="filter-adr-balears/servicios"><small>Servicios</small></a>
      <a routerLink="news-agenda-list"><small>Noticias</small></a>
      <a routerLink="filter-adr-balears/parcelas"><small>Parcelas</small></a> 
    </div> -->
  </div>
  <div class='pre-defined-filter-area' *ngIf="showLinks">
    <h5 *ngIf="currentLang === 'es-ES'">Enlaces directos:</h5>
    <h5 *ngIf="currentLang === 'ca-ES'">Enllaços directes:</h5>

    <ul>
      <li class="emprender-bck">
        <button *ngIf="currentLang === 'es-ES'" class ="btn btn-link" (click)="projectLandingPage('Ibemprėnjove','3046','414', 'no', 'emprender-bck', '417', '405')">Ibemprėnjove</button>
        <button *ngIf="currentLang === 'ca-ES'" class ="btn btn-link" routerLink="iemprenjove/2997/414">Ibemprėnjove</button>
      </li>
     
      <li class="emprender-bck">
        <button *ngIf="currentLang === 'es-ES'" class ="btn btn-link" routerLink="ibtalent-es/3047/363">Ibtalent</button>
        <button *ngIf="currentLang === 'ca-ES'" class ="btn btn-link" routerLink="ibtalent/3016/363">Ibtalent</button>        
      </li>
      <li class="emprender-bck">
        <button *ngIf="currentLang === 'es-ES'" class ="btn btn-link" routerLink="ibgestio-xecs-es/3048/353">Ibgestió xecs</button>
        <button *ngIf="currentLang === 'ca-ES'" class ="btn btn-link" routerLink="ibgestio-xecs/3014/353">Ibgestió xecs</button>
      </li>
      <li class="emprender-bck">
        <button *ngIf="currentLang === 'es-ES'"  class ="btn btn-link" routerLink="ibdigitalitzacio-xecs-es/3048/353">Ibdigitalització xecs</button>
        <button *ngIf="currentLang === 'ca-ES'"  class ="btn btn-link" routerLink="ibdigitalitzacio-xecs/3014/353">Ibdigitalització xecs</button>        
      </li>
      <li class="conectar-bck">
        <button *ngIf="currentLang === 'es-ES'" class ="btn btn-link" routerLink="ibcomerc-a-escola-es/3035/363">Ibcomerç a l'escola</button>
        <button *ngIf="currentLang === 'ca-ES'" class ="btn btn-link" routerLink="ibcomerc-a-escola/2995/363">Ibcomerç a l'escola</button>
      </li>
      <li class="conectar-bck">
        <button *ngIf="currentLang === 'es-ES'" class ="btn btn-link" routerLink="pa-daqui-forn-i-pastisseria-es/3018/353">Pà d'aquí</button>
        <button *ngIf="currentLang === 'ca-ES'" class ="btn btn-link" routerLink="pa-daqui-forn-i-pastisseria/2982/353">Pà d'aquí</button>        
      </li>
      <li class="conectar-bck">
        <button *ngIf="currentLang === 'es-ES'" class ="btn btn-link" routerLink="industria-local-sostenible-es/3042/353">ILS marca garantía</button>
        <button *ngIf="currentLang === 'ca-ES'" class ="btn btn-link" routerLink="industria-local-sostenible/2986/353">ILS marca garantia</button>        
      </li>
      <li class="conectar-bck">
        <button *ngIf="currentLang === 'es-ES'" class ="btn btn-link" routerLink="ibsostenibilitat-xecs-es/3052/353">Ibsostenibilitat xecs</button>
        <button *ngIf="currentLang === 'ca-ES'" class ="btn btn-link" routerLink="ibsostenibilitat-xecs/3050/353">Ibsostenibilitat xecs</button>        
      </li>
      <li class="conectar-bck">
        <button *ngIf="currentLang === 'es-ES'"  class="btn btn-link" (click)="projectLandingPage('Ibavals industria','3204','415', 'no', 'conectar-bck', '418', '406')">Ibavals industria</button>
        <button *ngIf="currentLang === 'ca-ES'"  class="btn btn-link" (click)="projectLandingPage('Ibavals indústria','3203','415', 'no', 'conectar-bck', '418', '406')">Ibavals indústria</button>
      </li>
      <li class="conectar-bck">
        <button *ngIf="currentLang === 'es-ES'" class ="btn btn-link" routerLink="exposabyidi-es/3024/353">Ibexposa producte local</button>
        <button *ngIf="currentLang === 'ca-ES'" class ="btn btn-link" routerLink="exposabyidi/3003/353">Ibexposa producte local</button>
      </li>
      <li class="conectar-bck">
        <button *ngIf="currentLang === 'es-ES'" class ="btn btn-link" routerLink="ibrelleu-es/3043/379">Ibrelleu</button>
        <button *ngIf="currentLang === 'ca-ES'" class ="btn btn-link" routerLink="ibrelleu/2990/379">Ibrelleu</button>
      </li>
      <li class="proyectar-bck">
        <button *ngIf="currentLang === 'es-ES'" class ="btn btn-link" routerLink="ibexporta-xecs-es/3032/353">Ibexporta xecs</button>
        <button *ngIf="currentLang === 'ca-ES'" class ="btn btn-link" routerLink="ibexporta-xecs/3012/353">Ibexporta xecs</button>
      </li>
      <li class="proyectar-bck"><button class="btn btn-link" (click)="projectLandingPage('Invest in Balearics','3206', '415', 'no', 'proyectar-bck', '419', '407')">Invest in Balearics</button></li>
    </ul>
  </div>
</div>


