.filter-form {
  grid-area: formulario;
  background-color: #d5d5d5;
  padding: .5rem;
  height: 20%;
}

.filter-form-pre-defined {
  margin-top: 1rem;
}

.pre-defined-filter-area {
  grid-area: preDefinedFilter;
  background-color: #d5d5d5;
  color: #003747!important;
  height: 80%;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: .2rem;
}

.btn-link {
  background-color: transparent;
  color: #fff!important;
  text-decoration: none;
}

a {
  margin-right: .5rem;
  color: #003747!important;
}

.pre-defined-filter-area {
  color: #ffffff;
  padding: .5rem;
}

button {
  background-color: #003747;
  color: #fff;
  border-radius: 0;
}

.btn-link:hover, a:hover {
  color: #0098CB!important;
}

input {
  border-radius: 0;
}

ul{
  list-style: none;
  display: grid;
  grid-template-columns: 50% 50%;
  padding-left: 0;
}

.form-control:focus {
  border-color: #0098CB;
  outline: none;
  box-shadow: none;
  color: #0098CB;
}

.ocultar {
  display: none;
}

.emprender, .conectar, .proyectar{
  margin: 1px;
}

