<div class='filters'>
  <div class="filter-area"></div>
  <div class="filter-form">
    <form role="search" [formGroup]="searchTheWebForm" novalidate class="form-inline">
      <input class="form-control" type="text" formControlName="searchTerm" placeholder="Buscar ..." aria-label="Search">
      <button class="btn btn-search" type="submit" (click)="onClick(searchTheWebForm)"
      [disabled]="!searchTheWebForm.valid">Search <span class="badge text-bg-secondary ocultar" id="totalResults">
        <a [ngbTooltip]="tipContent" routerLink="/search-the-web-result-list/{{searchTerm!.value}}">{{totalFound}}</a></span>
      </button>
      <ng-template #tipContent>Ver los resultados de <b>ADR Balears</b>!</ng-template>
    </form>
  <!--   <div class='filter-form-pre-defined'>
     <a routerLink="filter-adr-balears/formacion"><small>Formación</small></a>
      <a routerLink="filter-adr-balears/ayudas"><small>Ayudas</small></a>
      <a routerLink="filter-adr-balears/eventos"><small>Eventos</small></a>
      <a routerLink="filter-adr-balears/servicios"><small>Servicios</small></a>
      <a routerLink="news-agenda-list"><small>Noticias</small></a>
      <a routerLink="filter-adr-balears/parcelas"><small>Parcelas</small></a> 
    </div> -->
  </div>
  <div class='pre-defined-filter-area' *ngIf="showLinks">
    <h5>Enlaces directos:</h5>
    <ul>
      <li class="emprender-bck"><button class="btn btn-link" (click)="goProject('padaqui')">Ibemprenjove</button></li>
      <li class="emprender-bck"><button class="btn btn-link" (click)="goProject('comerçiescola')">Ibtalent</button></li>
      <li class="emprender-bck"><button class="btn btn-link" (click)="goProject('xecsconsultoria')">Ibgestió xecs</button></li>
      <li class="emprender-bck"><button class="btn btn-link" (click)="goProject('avalsisba')">Ibdigitalització xecs</button></li>
      <li class="conectar-bck"><button class="btn btn-link" (click)="goProject('escuelaeoi')">Ibcomerç a escola</button></li>
      <li class="conectar-bck"><button class="btn btn-link" (click)="goProject('investinbalearic')">Pà d'Aquí</button></li>
      <li class="conectar-bck"><button class="btn btn-link" (click)="goProject('ibexposa')">ILS marca garantia</button></li>
      <li class="conectar-bck"><button class="btn btn-link" (click)="goProject('ibrelleu')">Ibsostenibilitat xecs</button></li>
      <li class="conectar-bck"><button class="btn btn-link" (click)="goProject('ibemprenjove')">Ibavals industria</button></li>
      <li class="conectar-bck"><button class="btn btn-link" (click)="goProject('ibemprenjove')">Ibexposa producte local</button></li>
      <li class="conectar-bck"><button class="btn btn-link" (click)="goProject('ibemprenjove')">Ibrelleu</button></li>
      <li class="proyectar-bck"><button class="btn btn-link" (click)="goProject('ibtalent')">Ibexporta xecs</button></li>
      <li class="proyectar-bck"><button class="btn btn-link" (click)="goProject('ibtalent')">Invest in Balearics</button></li>
    </ul>
  </div>
</div>


