.filter-area {
  grid-area: formulario;
  background-color: #d5d5d5;
  padding: .5rem;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: .2rem;
}

.pre-defined-filter-area {
  grid-area: preDefinedFilter;
  margin-left: 4rem;
  background-color: #003747;

}

.filter-area, .pre-defined-filter-area {
  color: #ffffff;
  padding: .5rem;
}

button {
  background-color: #003747;
  border-radius: 0;
}

.btn-link {
  background-color: transparent;
  text-decoration: none;
}

button, a {
  color: #fff;
}

a {
  margin-right: .5rem;
}

.buttons-area{
  text-align: center;
  margin-bottom: 0.75rem;
}

input {
  border-radius: 0;
}

ul{
  list-style: none;
}

.form-control:focus {
  border-color: #0098CB;
  outline: none;
  box-shadow: none;
  color: #0098CB;
}

.ocultar {
  display: none;
}

