<p>slider works!</p>

<ngb-carousel
#carousel
[interval]="10000"
[pauseOnHover]="pauseOnHover"
[pauseOnFocus]="pauseOnFocus"
(slide)="onSlide($event)"
>
@for (img of images; track img; let i = $index) {
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <img [src]="images[0]" alt="Random first slide" />
    </div>
    <div class="carousel-caption">
      <h3>ADR Balears</h3>
      <p>contenido específico - {{i}} - (según la <strong>PREGUNTA 01</strong>)</p>
    </div>
  </ng-template> 
}
</ngb-carousel>
