ngb-carousel {
  grid-area: carousel;
}

img { 
  max-height: 500px;
}

a {
  display: inline-block;
  position: relative;
  top: -210px;
  height: 2.5rem;
  width: 100%;
  font-size: 1.5rem;
  background-color: #00405e;
  color: #ffffff!important;
}

h2 {
  position: relative;
  top: -279px;
  padding-top: .3rem;
  padding-bottom: .3rem;
  font-size: 1rem;
  background-color: #00405e;
  color: #ffffff;
}

ol {
  list-style: none;
  background-color: transparent;
  text-align: center;
  padding-left: 0;
  margin-bottom: 6rem;
}

.btn {
  background-color: #ec9e37;
  color: #fff;
  border-radius: 0;
  min-width: 80%;
  margin-bottom: .5rem;
}

.external-site {
  background-color: #004aad;
}

.emprender:hover {
  color: #6b9da7!important;
  background-color: #fff!important;
}
.conectar:hover {
  color:  #71b796!important;
  background-color: #fff!important;
}
.proyectar:hover {
  color:  #ed7448!important;
  background-color: #fff!important;
}

@media screen and (max-width: 992px) {
  a {
    top: -200px;
  }

  h2 {
    top: -180px;
  }
}

@media screen and (max-width: 760px) {
  .slider-container{
    grid-template-columns: 100%;
    grid-template-areas: "carousel" "linkArea";
    margin-bottom: 1rem;
  }

  a {
    top: -60px;
  }
  
  h2 {
    top: -40px;
  }

  img {
    width: 100%!important;
  }
}