<div [className]="twoColumns ? 'slider-container' : 'slider-container-single' ">
  <ngb-carousel *ngIf="showCustomProject"
  #carousel
  [interval]="10000"
  [pauseOnHover]="pauseOnHover"
  [pauseOnFocus]="pauseOnFocus"
  (slide)="onSlide($event)"
  >
  @for (img of images; track img; let i = $index) {
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img [src]="images[i]" alt="Random slide number {{i}}" title="Random slide number {{i}}"/>
      </div>
      <div class="carousel-caption">
        <h3>ADR Balears</h3>
        <p>contenido específico - {{i}} - (según la <strong>PREGUNTA 01</strong>)</p>
      </div>
    </ng-template> 
  }
  </ngb-carousel>
</div>
