.top-landing-page {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "tituloslogan searchtheweb";
  margin-bottom: 1rem;
}

.titulo-slogan {
  grid-area: tituloslogan;
}

app-search-the-web {
  grid-area: searchtheweb;
}

app-slider, .project-link-area{
  margin-top: 2rem;
}

.project-link-area{ 
  background-color: #013849;
  color: #ffffff;
  text-align: center;
}

ol{
  background-color: transparent;
}

h2{
  margin-top: 1rem;
  text-align: center;
}

.btn {
  border-radius: 0;
  margin-bottom: 1rem;
  background-color: #faa723;
  color: #ffffff;
  width: 90%;
}

.external-site {
  background-color: #004aad;
  color: #ffffff;
  margin-top: 6rem;
  width: 90%;
}

.bottom-landing-page {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "description contactus" "newslist contactus";
}

.description {
  grid-area: description;
}

app-news-list {
  grid-area: newslist;
}

.contact-us {
  grid-area: contactus;
  background-color: #638691;
  padding: .5rem;
}

@media screen and (max-width: 1199px) {
 
}

@media screen and (max-width: 991px) {

}

@media screen and (max-width: 767px) {
  .top-landing-page {
    grid-template-columns: 100%;
    grid-template-areas: "tituloslogan" "searchtheweb";
    margin-bottom: 1rem;
  }

  .landing-page-bottom {
    grid-template-columns: 100%;
    grid-template-areas: "description" "newslist" "contactus";
  }
}