<div class='top-landing-page'>
  <div class="titulo-slogan">
    <h1>{{landingMainTitle}}</h1>
    <h2>{{landingSlogan}}</h2>
  </div>
  <app-search-the-web></app-search-the-web>
  <app-slider></app-slider>
  <div class="project-link-area">
    <h2>Enlaces de interés</h2>
    <ol>
      <li><button class='btn' routerLink="news-agenda-list/3">Ayudas / subvenciones</button></li>
      <li><button class='btn' routerLink="news-agenda-list/3">Financiación</button></li>
      <li><button class='btn' routerLink="news-agenda-list/2">Bolsa de trabajo</button></li>
      <li><button class='btn' routerLink="news-agenda-list/1">Formaciones</button></li>
      <li><button class='btn' routerLink="news-agenda-list/4">Premios y concursos</button></li>
      <li><button class='btn' routerLink="news-agenda-list/5">Solicitar cita previa</button></li>
    </ol>
    <button class="btn external-site">Abrir portal externo</button>
  </div>
</div>

<div class="bottom-landing-page">
  <div class="description" innerHTML="{{landingDescription}}"></div>
  <app-news-list totalNewsToDisplay="{{totalNewsToDisplay}}"></app-news-list>
  <div class='contact-us'>
    <h2>Envíanos un mensaje</h2>
    <form action=''>
      <input type='text' />
      <button type="button" class="btn btn-info">Enviar</button>
    </form>
  </div>
</div>

<app-call-to-action ctaTextRight="{{theRightLema}}" ctaTextLeft="{{theLeftLema}}" ctaTextCenter="{{theCenterLema}}"></app-call-to-action>