<div class='top-landing-page'>
  <div class="titulo-slogan">
    <h1>{{projectName}}</h1>
    <h2>{{theContentAttributes?.slogan}}</h2>
    <h2 *ngIf="!theContentAttributes?.slogan">loading data ...</h2>

  </div>
  <app-search-the-web *ngIf="showLinks"></app-search-the-web>
  <app-slider></app-slider>
  <div class="project-link-area">
    <h2 *ngIf="currentLang === 'es-ES'">Enlaces de interés</h2>
    <h2 *ngIf="currentLang === 'ca-ES'">Enllaços d'interès</h2>
    <ol>
      <li>
        <button *ngIf="hasExternalLink1" class='btn {{fasePro}}' (click)="openExternalSite(theContentAttributes!.idcontenidoenlaceinteresuno)">{{theContentAttributes?.etiquetaenlaceinteresuno}}</button>
        <button *ngIf="!hasExternalLink1" class='btn {{fasePro}}' routerLink="/direct-link/{{theContentAttributes?.idcontenidoenlaceinteresuno}}/{{theContentAttributes?.idcontenidoenlaceinteresuno}}">{{theContentAttributes?.etiquetaenlaceinteresuno}}</button>
      </li>
      
      <li>
        <button *ngIf="hasExternalLink2" class='btn {{fasePro}}' (click)="openExternalSite(theContentAttributes!.idcontenidoenlaceinteresdos)">{{theContentAttributes?.etiquetaenlaceinteresdos}}</button>
        <button *ngIf="!hasExternalLink2" class='btn {{fasePro}}' routerLink="/direct-link/{{theContentAttributes?.idcontenidoenlaceinteresdos}}/{{theContentAttributes?.idcontenidoenlaceinteresdos}}">{{theContentAttributes?.etiquetaenlaceinteresdos}}</button>
      </li>
      <li>
        <button *ngIf="hasExternalLink3" class='btn {{fasePro}}' (click)="openExternalSite(theContentAttributes!.idcontenidoenlaceinterestres)">{{theContentAttributes?.etiquetaenlaceinterestres}}</button>
        <button *ngIf="!hasExternalLink3" class='btn {{fasePro}}' routerLink="/direct-link/{{theContentAttributes?.idcontenidoenlaceinterestres}}/{{theContentAttributes?.idcontenidoenlaceinterestres}}">{{theContentAttributes?.etiquetaenlaceinterestres}}</button>
      </li>
      <li>
        <button *ngIf="hasExternalLink4" class='btn {{fasePro}}' (click)="openExternalSite(theContentAttributes!.idcontenidoenlaceinterescuatro)">{{theContentAttributes?.etiquetaenlaceinterescuatro}}</button>
        <button *ngIf="!hasExternalLink4" class='btn {{fasePro}}' routerLink="/direct-link/{{theContentAttributes?.idcontenidoenlaceinterescuatro}}/{{theContentAttributes?.idcontenidoenlaceinterescuatro}}">{{theContentAttributes?.etiquetaenlaceinterescuatro}}</button>

      </li>
      <li>
        <button *ngIf="hasExternalLink5" class='btn {{fasePro}}' (click)="openExternalSite(theContentAttributes!.idcontenidoenlaceinterescinco)">{{theContentAttributes?.etiquetaenlaceinterescinco}}</button>
        <button *ngIf="!hasExternalLink5" class='btn {{fasePro}}' routerLink="/direct-link/{{theContentAttributes?.idcontenidoenlaceinterescinco}}/{{theContentAttributes?.idcontenidoenlaceinterescinco}}">{{theContentAttributes?.etiquetaenlaceinterescinco}}</button>
      </li>
      <li>
        <button *ngIf="hasExternalLink6" class='btn {{fasePro}}' (click)="openExternalSite(theContentAttributes!.idcontenidoenlaceinteresseis)">{{theContentAttributes?.etiquetaenlaceinteresseis}}</button>
        <button *ngIf="!hasExternalLink6" class='btn {{fasePro}}' routerLink="/direct-link/{{theContentAttributes?.idcontenidoenlaceinteresseis}}/{{theContentAttributes?.idcontenidoenlaceinteresseis}}">{{theContentAttributes?.etiquetaenlaceinteresseis}}</button>
      </li>
      <li>
        <button *ngIf="hasExternalLink7" class='btn {{fasePro}}' (click)="openExternalSite(theContentAttributes!.idcontenidoenlaceinteressiete)">{{theContentAttributes?.etiquetaenlaceinteressiete}}</button>
        <button *ngIf="!hasExternalLink7" class='btn {{fasePro}}' routerLink="/direct-link/{{theContentAttributes?.idcontenidoenlaceinteressiete}}/{{theContentAttributes?.idcontenidoenlaceinteressiete}}">{{theContentAttributes?.etiquetaenlaceinteressiete}}</button>
      </li>

      <li><button *ngIf="hasExternalBackoffice" class='btn external-site' (click)="openExternalSite(theContentAttributes!.urlbackoffice)">Login</button></li>
    </ol>
    <button *ngIf="hasExternalSite" class="btn external-site" (click)="openExternalSite(theContentAttributes!.urlportalexterno)">
      <span *ngIf="currentLang === 'es-ES'">Abrir el <strong>portal externo</strong></span>
      <span *ngIf="currentLang === 'ca-ES'">Obrir el <strong>portal extern</strong></span>
    </button>
  </div>
</div>

<div class="bottom-landing-page">
  <div class="card__body description" innerHTML="{{theContentAttributes?.text}}"></div>
  <app-news-list totalNewsToDisplay="{{totalNewsToDisplay}}" faseNewsToDisplay="{{faseNewsToDisplay}}"></app-news-list>
  <div class='contact-us'>
    <h2>NEWSLETTER:</h2>
    <small>Keep up our latest news and events.Subscribe our newsletter</small>
    <form [formGroup]="contactForm" (ngSubmit)="sendContactForm()" class="form-inline">
        <div>
 
        <input type="email" id="email" class="form-control" placeholder="enter your email" formControlName="email">
 
        <!-- Mostramos el mensaje de error si el campo "email" es inválido y ha sido tocado -->
 
        <div *ngIf="contactForm?.get('email')?.invalid && contactForm?.get('email')?.touched">
 
          <!-- <span *ngIf="contactForm?.get('email')?.hasError('required')" class="error">El email es requerido.</span> -->
 
         <!--  <span *ngIf="contactForm?.get('email')?.hasError('enail')" class="error">El email no es válido.</span> -->
 
        </div>
 
      </div>
      <span class="subs-result" [innerHTML]="infoLabel"></span>
      <button type="submit" [disabled]="contactForm!.invalid">Subscribe</button>
    </form>
  </div>
 
</div>

<app-call-to-action ctaTextRight="{{theRightLema}}" ctaTextLeft="{{theLeftLema}}" ctaTextCenter="{{theCenterLema}}"></app-call-to-action>