.top-landing-page {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "tituloslogan searchtheweb";
  margin-bottom: 1rem;
}

.banner-pro {
  color: #fff;
  padding: 10px;
}

.titulo-slogan {
  grid-area: tituloslogan;
}

.titulo-slogan h2 {
  text-align: left;
}

.ocultar {
  display: none;
}

.mostrar {
  background-color: lightgray;
  padding: 1rem;
}

.alert {
  width: 100%;
  text-align: center;
}

.info-text {
  font-size: .5rem;
}

button {
  padding: .2rem!important;
}

app-search-the-web {
  grid-area: searchtheweb;
}

app-slider, .project-link-area{
  margin-top: 2rem;
}

.project-link-area{ 
  background-color: #013849;
  color: #ffffff;
  text-align: center;
}

.project-link-area ol{
  background-color: transparent;
  margin-top: 3rem;
  list-style: none;
  padding-left: 0;
  border-radius: 0;
}

li {
  text-align: center;
}

h2{
  margin-top: 1rem;
  text-align: center;
}

.btn {
  border-radius: 0;
  margin-bottom: 1rem;
  color: #ffffff;
  width: 90%;
}

.card__body {
  margin-top: 0;
  margin-bottom: 4rem;
  line-height: 2.4rem;
  font-size: 1.4rem;
  padding-top: 0;
}

.external-site {
  background-color: #019ee5;
  color: #ffffff;
  width: 90%;
}

.bottom-landing-page {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: "description contactus" "newslist contactus";
}

.description {
  grid-area: description;
  margin-right: 1rem;
}

app-news-list {
  grid-area: newslist;
  margin-right: 1rem;
}

.contact-us {
  grid-area: contactus;
  background-color: #638691;
  padding: .5rem;
  font-size: 16px;
  border-radius: 0;
  max-width: 600px;
  padding: 20px;
  resize: horizontal;
  overflow: auto;
}

.bottom-landing-page form {
  display: grid;
  grid-template-rows: 100% 100%;
  margin-top: 1rem;
}

.bottom-landing-page input {
  letter-spacing: .2rem;
  margin-top: 1rem;
}

.bottom-landing-page button {
  width: 100%;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
  color: #0098CB;
}

input:invalid {
  border-color: red;
}

input:valid {
  border-color: green;
}

form{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}
input{
  padding: 10px 14px;
  outline: none;
  color: #e2e2e2;
  background: #dedede29;
  border: 1px solid #ffffff8f;
  border-radius: 4px;
}

.details{
  flex: 1 0 130px;
}
.email{
  flex: 1 0 130px;
}
button{
  flex: 1 0 40px;
  background: #0d6efd;
  padding: 10px 10px;
  border-radius: 4px;
  font-size: 14px;
  color: #e2e2e2;
  outline: none;
  border: 1px solid transparent;
}
.details{
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 3px;
}
.title {
  font-size: 1.6rem;
}
.desc {
  color: gray;
}

#postFeedback {
  display: none;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
  font-size: 10px;
  margin-left: auto;
  margin-right: auto;
}

#postFeedback.requestOk {
  background-color: green;
}

#postFeedback.requestKo {
  background-color: red;
}

#postFeedback.show {
  display: block;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@media screen and (max-width: 1320px) {
  button {
    padding: 0!important;
  }
  .project-link-area {
    max-height: 430px;
  }

  .project-link-area ol{
    margin-top: 1rem;
  }

}

@media screen and (max-width: 760px) {
  .top-landing-page {
    grid-template-columns: 100%;
    grid-template-areas: "tituloslogan" "searchtheweb";
    margin-bottom: 1rem;
  }

  .bottom-landing-page {
    grid-template-columns: 100%;
    grid-template-areas: "description" "contactus" "newslist";
  }

  .description {
    margin-right: 0;
  }

  .contact-us {
    max-width: 100%;
    min-height: 21rem;
    padding: auto;
  }

  .project-link-area ol{
    margin-top: 2rem;
  }

  app-news-list {
    margin-right: 0;
  }
}

@media screen and (max-width: 400px) {

    .contact-us {
      max-width: 100%;
      min-height: 26rem;
      padding: auto;
    }

}