<app-header></app-header>

<div class='area-cta'>
	<button class="btn btn-warning" (click)="openHomePopUp(content)">
		Personalice su experiencia
	</button>
</div>

<ng-template #tipContent>Cunmplimentando este breve formulario<br>podrá fijar sus
	preferencias durante la navegación en nuestro sitio web de <b>ADR Balears</b></ng-template>
	
<router-outlet />
<!-- <app-body></app-body> -->
<app-footer></app-footer>

<ng-template #content let-modal>
	<div class="modal-header">
		<p>Personalice su experiencia</p>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<section>
			<div class = "pop-up-container">
					<h3>Díganos un poco sobre usted y personalizaremos el contenido del sitio para adaptarlo a sus necesidades:</h3>
					<ol class = "pop-up-main-ol">
							<li><div class="note">¿Cuál describe mejor su situación actual?</div>
									<ol> 
											<li class="form-check form-switch"><label ><input name="situacion-actual" id="situacion-actual1" class="form-check-input" type="radio"> Pensando en empezar</label></li>
											<li class="form-check form-switch"><label ><input name="situacion-actual" id="situacion-actual2" class="form-check-input" type="radio"> Emprendedor en fase inicial</label></li>
											<li class="form-check form-switch"><label ><input name="situacion-actual" id="situacion-actual3" class="form-check-input" type="radio"> Dueño de una PYME</label></li>
											<li class="form-check form-switch"><label ><input name="situacion-actual" id="situacion-actual4" class="form-check-input" type="radio"> Gestor en una gran empresa</label></li>
									</ol>
							</li>
							<li><div class="note">¿Qué es lo que más le interesa?</div>
									<ol>
											<li class="form-check form-switch"><label ><input name="interesado-en" class="form-check-input" type="radio"> Obtener financiación</label></li>
											<li class="form-check form-switch"><label ><input name="interesado-en" class="form-check-input" type="radio"> Expandir mi red</label></li>
											<li class="form-check form-switch"><label ><input name="interesado-en" class="form-check-input" type="radio"> Aprender nuevas habilidades</label></li>
											<li class="form-check form-switch"><label ><input name="interesado-en" class="form-check-input" type="radio"> Explorar oportunidades de mercado</label></li>
									</ol>
							</li>
							<li><div class="note">¿Cuál es su objetivo principal actual?</div>
									<ol>
											<li class="form-check form-switch"><label ><input name="objetivo-principal" class="form-check-input" type="radio"> Iniciar un negocio</label></li>
											<li class="form-check form-switch"><label ><input name="objetivo-principal" class="form-check-input" type="radio"> Hacer crecer mi negocio</label></li>
											<li class="form-check form-switch"><label ><input name="objetivo-principal" class="form-check-input" type="radio"> Internacionalizar</label></li>
											<li class="form-check form-switch"><label ><input name="objetivo-principal" class="form-check-input" type="radio"> Innovar en procesos o productos</label></li>
									</ol>
							</li>
					</ol>
			</div>
	</section>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Aplicar perfíl</button>
	</div>
</ng-template>