
<app-header></app-header>

<button class="btn btn-outline-primary mb-2 me-2" (click)="openBackDropCustomClass(content)">
	Pop-up que se mostrará al entrar en la página
</button>

@if (show) {
	<ngb-toast header="Click my close icon →" [autohide]="false" (hidden)="close()">
		If you close me, I will automatically re-appear after a few seconds.
	</ngb-toast>
	
} @else {
	<p>Muchas gracias</p>
}
<app-body></app-body>
<app-footer></app-footer>

<router-outlet />

<ng-template #content let-modal id="popUpContent">
	<div class="modal-header">
		<h2>Personalice su experiencia</h2>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<section>
			<div class = "pop-up-container">
					<h3>Díganos un poco sobre usted y personalizaremos el contenido para adaptarlo a sus necesidades</h3>
					<ol class = "pop-up-main-ol">
							<li><div class="note">¿Cuál describe mejor su situación actual?</div>
									<ol> 
											<li><label class="container"><input name="situacion-actual" type="radio"><span class="checkmark"></span>Pensando en empezar</label></li>
											<li><label class="container"><input name="situacion-actual" type="radio"><span class="checkmark"></span>Emprendedor en fase inicial</label></li>
											<li><label class="container"><input name="situacion-actual" type="radio"><span class="checkmark"></span>Dueño de una PYME</label></li>
											<li><label class="container"><input name="situacion-actual" type="radio"><span class="checkmark"></span>Gestor en una gran empresa</label></li>
									</ol>
							</li>
							<li><div class="note">¿Qué es lo que más le interesa?</div>
									<ol>
											<li><label class="container"><input name="interesado-en" type="radio"><span class="checkmark"></span>Obtener financiación</label></li>
											<li><label class="container"><input name="interesado-en" type="radio"><span class="checkmark"></span>Expandir mi red</label></li>
											<li><label class="container"><input name="interesado-en" type="radio"><span class="checkmark"></span>Aprender nuevas habilidades</label></li>
											<li><label class="container"><input name="interesado-en" type="radio"><span class="checkmark"></span>Explorar oportunidades de mercado</label></li>
									</ol>
							</li>
							<li><div class="note">¿Cuál es su objetivo principal actual?</div>
									<ol>
											<li><label class="container"><input name="objetivo-principal" type="radio"><span class="checkmark"></span>Iniciar un negocio</label></li>
											<li><label class="container"><input name="objetivo-principal" type="radio"><span class="checkmark"></span>Hacer crecer mi negocio</label></li>
											<li><label class="container"><input name="objetivo-principal" type="radio"><span class="checkmark"></span>Internacionalizar</label></li>
											<li><label class="container"><input name="objetivo-principal" type="radio"><span class="checkmark"></span>Innovar en procesos o productos</label></li>
									</ol>
							</li>
					</ol>
			</div>
	</section>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
	</div>
</ng-template>