<app-header></app-header>
<div class='area-cta'>
	<button class="btn btn-warning" (click)="openHomePopUp(content)" [ngbTooltip]="tipContent">
		Personaliza tu experiencia
	</button>
</div>

<ng-template #tipContent>Cunmplimentando este breve formulario<br>te permitirá seleccionar tus
	preferencias durante la navegación en el sitio de <b>ADR Balears</b></ng-template>

<app-body></app-body>
<app-footer></app-footer>

<router-outlet />

<ng-template #content let-modal>
	<div class="modal-header">
		<p>Personalice su experiencia</p>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</div>
	<div class="modal-body">
		<section>
			<div class = "pop-up-container">
					<h3>Díganos un poco sobre usted y personalizaremos el contenido del sitio para adaptarlo a sus necesidades:</h3>
					<ol class = "pop-up-main-ol">
							<li><div class="note">¿Cuál describe mejor su situación actual?</div>
									<ol> 
											<li><label class="container"><input name="situacion-actual" type="radio"><span class="checkmark"></span>Pensando en empezar</label></li>
											<li><label class="container"><input name="situacion-actual" type="radio"><span class="checkmark"></span>Emprendedor en fase inicial</label></li>
											<li><label class="container"><input name="situacion-actual" type="radio"><span class="checkmark"></span>Dueño de una PYME</label></li>
											<li><label class="container"><input name="situacion-actual" type="radio"><span class="checkmark"></span>Gestor en una gran empresa</label></li>
									</ol>
							</li>
							<li><div class="note">¿Qué es lo que más le interesa?</div>
									<ol>
											<li><label class="container"><input name="interesado-en" type="radio"><span class="checkmark"></span>Obtener financiación</label></li>
											<li><label class="container"><input name="interesado-en" type="radio"><span class="checkmark"></span>Expandir mi red</label></li>
											<li><label class="container"><input name="interesado-en" type="radio"><span class="checkmark"></span>Aprender nuevas habilidades</label></li>
											<li><label class="container"><input name="interesado-en" type="radio"><span class="checkmark"></span>Explorar oportunidades de mercado</label></li>
									</ol>
							</li>
							<li><div class="note">¿Cuál es su objetivo principal actual?</div>
									<ol>
											<li><label class="container"><input name="objetivo-principal" type="radio"><span class="checkmark"></span>Iniciar un negocio</label></li>
											<li><label class="container"><input name="objetivo-principal" type="radio"><span class="checkmark"></span>Hacer crecer mi negocio</label></li>
											<li><label class="container"><input name="objetivo-principal" type="radio"><span class="checkmark"></span>Internacionalizar</label></li>
											<li><label class="container"><input name="objetivo-principal" type="radio"><span class="checkmark"></span>Innovar en procesos o productos</label></li>
									</ol>
							</li>
					</ol>
			</div>
	</section>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Aplicar perfíl</button>
	</div>
</ng-template>