h1 {
  margin-bottom: 2rem;
}
.row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.card{
  margin-bottom: 1rem;
}

a {
  color: #ffffff;
}

@media screen and (max-width: 1199px) {
  .row {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 991px) {
  .row {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .row {
    grid-template-columns: auto;
  }
  .card-body {
    min-height: 12rem;
    max-height: 12rem;
  }
}