h1 {
  margin-bottom: 2rem;
}
.row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.card{
  margin-bottom: 1rem;
}

.card-body {
  min-height: 22rem;
}

a {
  color: #ffffff;
}

.event-list-container{
  margin-bottom: 4rem;
}

.emprender-bck, .conectar-bck, .proyectar-bck {
  color: #ffffff;
}

.no-hay-eventos{
  background-color: grey;
  margin-bottom: 2rem;
  padding: 1rem;
}

@media screen and (max-width: 1199px) {
  .row {
    grid-template-columns: auto auto auto;
  }
}

@media screen and (max-width: 991px) {
  .row {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 767px) {
  .row {
    grid-template-columns: auto;
  }
  .card-body {
    min-height: 12rem;
    max-height: 12rem;
  }
}