h1 {
  margin-bottom: 2rem;
}
h2 {
  margin-bottom: 0;
}
.row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}
.card{
  margin-bottom: 1rem;
}

.card-body {
  min-height: 25rem;
}

a {
  color: #ffffff;
}

.event-list-container{
  margin-bottom: 4rem;
}

.emprender-bck, .conectar-bck, .proyectar-bck {
  color: #ffffff;
}

.no-hay-eventos{
  background-color: grey;
  margin-bottom: 2rem;
  padding: 1rem;
}

@media screen and (max-width: 992px) {
  .row {
    grid-template-columns: 50% 50%;
  }
  .card-body {
    min-height: 20rem;
    max-height: 20rem;
  }
}

@media screen and (max-width: 760px) {
  .row {
    grid-template-columns: auto;
  }

  .card-body {
    min-height: 18rem;
    max-height: 18rem;
  }
}