<main>
 <img class="img-top-home" src='../../../assets/images/capcalera-provisional.webp' alt='Agencia de desarrollo regional Baleares'>
  
<!--   <section class='gallery-home-header'>
    <div class="slider-home-header">
      <div class='slide-track-home-header'>
      <div class="slide">
        <a href='https://www.cambramallorca.com/'><img src='../../../assets/images/cambra-mallorca.webp' height="240" width="250" alt='Cambra de Comerç Mallorca'></a>
      </div>
      <div class="slide">
        <a href='https://www.camaramenorca.com/'><img src='../../../assets/images/cambra-menorca.webp' height="240" width="250" alt='Cámara de Comercio de Menorca'></a>
      </div>
      <div class="slide">
        <a href='https://www.camaraibizayformentera.com/'><img src='../../../assets/images/cambra-eivissa.webp' height="240" width="250" alt='Cámara Ibiza y Formentera'></a>
      </div>
      <div class="slide">
        <a href='https://soib.es/es/'><img src='../../../assets/images/soib.webp' height="240" width="250" alt='SOIB formació i ocupació'></a>
      </div>
      <div class="slide">
        <a href='https://felib.es/es'><img src='../../../assets/images/felib.webp' height="240" width="250" alt="Federació d'Entitats Locals de les Illes Balears"></a>
      </div>
      <div class="slide">
        <a href='https://www.eticentre.org/'><img src='../../../assets/images/eticentre.webp' height="240" width="250" alt="Centre per a la gestió ètica de l'empresa"></a>
      </div>
      <div class="slide">
        <a href='https://balearicmarinecluster.com/'><img src='../../../assets/images/marinecluster.webp' height="150" width="250" alt='Balearic Marine Cluster'></a>
      </div>
      <div class="slide">
        <a href='https://www.uib.es/'><img src='../../../assets/images/uib.webp' height="150" width="250" alt='Universitat de les Illes Balears'></a>
      </div>
      <div class="slide">
        <a href='https://www.cambramallorca.com/'><img src='../../../assets/images/cambra-mallorca.webp' height="150" width="250" alt='Cambra de Comerç Mallorca'></a>
      </div>
      <div class="slide">
        <a href='https://www.camaramenorca.com/'><img src='../../../assets/images/cambra-menorca.webp' height="150" width="250" alt='Cámara de Comercio de Menorca'></a>
      </div>
    </div>
    </div>
  </section> -->
 
  <header class='title-header'>
    <h1 *ngIf="currentLang === 'es-ES'">Agencia de Desarrollo Regional <span class="color-adr-sec">Baleares</span></h1>
    <h1 *ngIf="currentLang === 'ca-ES'">Agència de Desenvolupament Regional <span class="color-adr-sec">Balears</span></h1>
    <h2 *ngIf="currentLang === 'es-ES'">Ponemos <span class="color-adr-sec">el desarrollo</span> en el centro</h2>
    <h2 *ngIf="currentLang === 'ca-ES'">Posam <span class="color-adr-sec">el desenvolupament</span> en el centre</h2>  
  </header>

  <h2 class="te-ayudamos" *ngIf="currentLang === 'es-ES'">¿ Te ayudamos ?</h2>
  <h2 class="te-ayudamos" *ngIf="currentLang === 'ca-ES'">T'ajudam?</h2>

  <section class='te-ayudamos-container'>
  <div class='title-container-top-ayudanos'>
    <h4 class="sub-title-emprendedor" *ngIf="currentLang === 'es-ES'">Si eres emprendedor o autónomo</h4>
    <h4 class="sub-title-emprendedor" *ngIf="currentLang === 'ca-ES'">Si ets emprenedor o autònom</h4>
  </div>
  <div class='card-container-ayudamos'>
    <div class="card card-ayuda card-border-emprendedor" >
      <img src="../../../assets/images/img-orient.webp" class="card-img-top" alt="...">
      <div class="card-body-home-ayuda">
        <img src='../../../assets/images/icon-orient.svg' width="100px" height="100px" alt=''>
        <h3 class="card-title"><a routerLink="ibempren/es/iempren-recursos-para-emprender" *ngIf="currentLang === 'es-ES'">Te orientamos<br>para crear<br>tu empresa</a></h3>
        <h3 class="card-title"><a routerLink="ibempren" *ngIf="currentLang === 'ca-ES'">T'orientam<br>per crear<br>la teva empresa</a></h3>
      </div>
    </div>
    <div class="card card-ayuda card-border-emprendedor card-border-empresa" >
      <img src="../../../assets/images/img-form.webp" class="card-img-top" alt="...">
      <div class="card-body-home-ayuda">
        <img src='../../../assets/images/icon-form.svg' width="100px" height="100px" alt=''>
        <h3 class="card-title"><a routerLink='formacion' *ngIf="currentLang === 'es-ES'">Te formamos</a></h3>
        <h3 class="card-title"><a routerLink='formacio' *ngIf="currentLang === 'ca-ES'">Et formam</a></h3>
      </div>
    </div>
    <div class="card card-ayuda card-border-emprendedor card-border-empresa" >
      <img src="../../../assets/images/img-info.webp" class="card-img-top" alt="...">
      <div class="card-body-home-ayuda">
        <img src='../../../assets/images/icon-info.svg' width="100px" height="100px" alt=''>
        <h3 class="card-title"><a routerLink="ayudas-y-subvenciones-home" *ngIf="currentLang === 'es-ES'">Te informamos<br>y damos ayudas<br>y subvenciones</a></h3>
        <h3 class="card-title"><a routerLink="ajuts-i-subvencions-home" *ngIf="currentLang === 'ca-ES'">T'informam<br>i donam ajudes<br>i subvencions</a></h3>
      </div>
    </div>
    <div class="card card-ayuda card-border-emprendedor-blanco card-border-empresa" >
      <img src="../../../assets/images/img-export.webp" class="card-img-top" alt="...">
      <div class="card-body-home-ayuda">
        <img src='../../../assets/images/icon-export.svg' width="100px" height="100px" alt=''>
        <h3 class="card-title" *ngIf="currentLang === 'es-ES'"><a routerLink="ibexporta-orienta/es/bienvenidos-a-ibexporta-orienta">Te ayudamos<br>a vender fuera</a></h3>
        <h3 class="card-title" *ngIf="currentLang === 'ca-ES'"><a routerLink="ibexporta-orienta">T'ajudam<br>a vendre fora</a></h3>
      </div>
    </div>
  </div>
  <div class='title-container-bottom-ayudanos'>
    <h4 class="sub-title-empresa" *ngIf="currentLang === 'es-ES'">Si eres una empresa</h4>
    <h4 class="sub-title-empresa" *ngIf="currentLang === 'ca-ES'">Si ets una empresa</h4>
  </div>
  </section>

  <section class='de-que-sector'>
  <div class='container-sector'>
    <h2 class="te-ayudamos" *ngIf="currentLang === 'es-ES'">¿De qué sector eres?</h2>
    <h2 class="te-ayudamos" *ngIf="currentLang === 'ca-ES'">De quin sector ets?</h2>
    <h2 class="te-ayudamos" *ngIf="currentLang === 'es-ES'">Tenemos soluciones para ti</h2>
    <h2 class="te-ayudamos" *ngIf="currentLang === 'ca-ES'">Tenim solucions per a tu</h2>
    <div class='de-que-sector-tipo'>
      <div class="comercio">
        <div class='comercio-title'>
          <h2 class="title-blanco" *ngIf="currentLang === 'es-ES'">COMERCIO</h2>
          <h2 class="title-blanco" *ngIf="currentLang === 'ca-ES'">COMERÇ</h2>
        </div>
        <ul>
          <li>
            <span *ngIf="currentLang === 'es-ES'">Eres comercio histórico o con patrimonio: <br><a routerLink="emblematicsbalears/es/bienvenidos-a-emblematicsbalears" *ngIf="currentLang === 'es-ES'"><strong>Te damos un reconocimiento: Emblemàtics</strong></a></span>
            <span *ngIf="currentLang === 'ca-ES'">Ets un comerç històric arrelat amb patrimoni? <br><a routerLink="emblematicsbalears"><strong>Et donam un reconeixement: Emblemàtics</strong></a></span>
          </li>
          <!-- <li>
            <a routerLink="ibrelleu/es/bienvenidos-a-ibrelleu" *ngIf="currentLang === 'es-ES'"><strong>¿Necesitas relevo para tu negocio?</strong></a>
            <a routerLink="ibrelleu" *ngIf="currentLang === 'ca-ES'"><strong>Necessites relleu per al teu negoci?</strong></a>
          </li> -->
          <li>
            <a routerLink="ibcomerc-a-escola/es/bienvenidos-a-ibcomerc-a-escola" *ngIf="currentLang === 'es-ES'"><strong>¿Quieres quieres dar a conocer tu comercio<br>a los colegios del municipio?</strong></a>
            <a routerLink="ibcomerc-a-escola" *ngIf="currentLang === 'ca-ES'"><strong>Vols donar a conèixer el teu comerç<br>a les escoles del municipi?</strong></a>
          </li>
        </ul>
      </div>
      <div class="industria">
        <div class='industria-title'>
          <h2 class="title-blanco" *ngIf="currentLang === 'es-ES'">INDUSTRIA</h2>
          <h2 class="title-blanco" *ngIf="currentLang === 'ca-ES'">INDÚSTRIA</h2>
        </div>
        <ul>
          <li>
            <span *ngIf="currentLang === 'es-ES'">Eres sensible con el medio ambiente:<br><a routerLink="industria-local-sostenible/es/bienvenidos-a-industria-local-sostenible" *ngIf="currentLang === 'es-ES'"><strong>Te ofrecemos la marca ILS</strong></a></span>
            <span *ngIf="currentLang === 'ca-ES'">Ets una empresa sostenible?<br><a routerLink="industria-local-sostenible" *ngIf="currentLang === 'ca-ES'"><strong>T'oferim la marca ILS</strong></a></span>
          </li>
          <li>
            <a routerLink="loopdisseny/es/bienvenidos-a-loopdisseny" *ngIf="currentLang === 'es-ES'"><strong>¿Te interesa la circularidad<br>y quieres contactar con otros sectores?</strong></a>
            <a routerLink="loopdisseny" *ngIf="currentLang === 'ca-ES'"><strong>T'interessa la circularitat<br>i vols contactar amb altres sectors?</strong></a>
          </li>
        </ul>
      </div>
      <div class="bottom-sector">
        <ul>
          <li>
            <a routerLink="ibrelleu/es/bienvenidos-a-ibrelleu" *ngIf="currentLang === 'es-ES'"><strong>¿Necesitas relevo para tu negocio?</strong></a>
            <a routerLink="ibrelleu" *ngIf="currentLang === 'ca-ES'"><strong>Necessites relleu per al teu negoci?</strong></a>
          </li>
          <li>
            <span *ngIf="currentLang === 'es-ES'">¿Eres una panadería o un horno? <a routerLink="pa-daqui-forn-i-tradicio/es/bienvenidos-a-pa-daqui-forn-i-tradicio"><strong>Pa d'aquí</strong></a> es tu marca</span>
            <span *ngIf="currentLang === 'ca-ES'">Ets un forn? <a routerLink="pa-daqui-forn-i-tradicio"><strong>Pa d'aquí</strong></a> és la teva marca</span>
          </li>
          <li>
            <a routerLink="exposabyidi/es/bienvenidos-a-exposabyidi" *ngIf="currentLang === 'es-ES'"><strong>¿Quieres que te ayudemos a diseñar tu espacio?</strong></a>
            <a routerLink="exposabyidi" *ngIf="currentLang === 'ca-ES'"><strong>Vols que t'ajudem a dissenyar el teu espai?</strong></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  </section>

  <section class='somos-adr'>
  <div class='somos-adr-title'>
    <h1 *ngIf="currentLang === 'es-ES'">Somos Agencia de Desarrollo Regional</h1>
    <h1 *ngIf="currentLang === 'ca-ES'">Som Agència de Desenvolupament Regional</h1>
  </div>
  <div class="slider-somos">
    <div class="slide">
        <a *ngIf="currentLang === 'es-ES'" routerLink=''>
          <h5>SOMOS<br>coordinadores<br>de la Mesa de<br>Internacionalización</h5></a>
        <a *ngIf="currentLang === 'ca-ES'" routerLink=''>
          <h5>SOM<br>coordinadors<br>de la Mesa<br>d'Internacionalització</h5></a>
        <img src="../../../assets/images/plan-internacionalizacion-ib.png" height="auto" width="245" alt="Plan de internacionalización Illes Balears" />
    </div>
    <div class="slide">
        <a *ngIf="currentLang === 'es-ES'" routerLink='palmainternationalboatshow/es/bienvenidos-a-palmainternationalboatshow'>
          <h5 >SOMOS<br>los organizadores<br>del Salón Náutico<br>de Palma (PIBS)</h5></a>
        <a *ngIf="currentLang === 'ca-ES'" routerLink='palmainternationalboatshow'>  
          <h5>SOM<br>els organitzadors<br>del Saló Nàutic<br>de Palma (PIBS)</h5></a>
        <img src="../../../assets/images/pibs.webp" height="auto" width="245" title="Palma International Boat Show" alt="Palma International Boat Show" />
    </div>
    <div class="slide">
        <a *ngIf="currentLang === 'es-ES'" routerLink='ibempren/es/iempren-recursos-para-emprender'>
          <h5>SOMOS<br>los organizadores<br>del ecosistema<br>emprendedor</h5></a>
        <a *ngIf="currentLang === 'ca-ES'" routerLink='ibempren'>
          <h5>SOM<br>els organitzadors<br>de l'ecosistema<br>emprenedor</h5></a>
        <img src="../../../assets/images/xspe.webp" height="auto" width="245" title="Red de Servicios Públicos Empresariales de las Islas Baleares" alt="Red de Servicios Públicos Empresariales de las Islas Baleares" />
    </div>
    <div class="slide">
        <a *ngIf="currentLang === 'es-ES'" href='https://investinbalearics.adrbalears.es'>
          <h5>SOMOS<br>la puerta de<br>entrada a las<br>inversiones<br>en les Illes Balears</h5></a>
        <a *ngIf="currentLang === 'ca-ES'" href='https://investinbalearics.adrbalears.es'>
          <h5>SOM<br>la porta<br>d'entrada a les<br>inversions<br>a les Illes Balears</h5></a>
        <img src="../../../assets/images/invest-in-balearics.png" height="auto" width="245" alt="Invest In Balearics" />
    </div>
    <div class="slide">
        <a *ngIf="currentLang === 'es-ES'" routerLink='ibemprenjove/es/bienvenidos-a-iemprenjove'>
          <h5>SOMOS<br>impulsores de la<br>emprendeduría<br>de nuestros jóvenes</h5></a>
        <a *ngIf="currentLang === 'ca-ES'" routerLink='ibemprenjove'>
          <h5>SOM<br>impulsors de <br>l'empreneduria<br>dels nostres joves</h5></a>
        <img src="../../../assets/images/iemprenjove.webp" height="auto" width="245" alt="" />
    </div>
  </div>
  </section>

  <app-agenda-home></app-agenda-home>
  
  <section class='contador'>
  <div class='contador-title'>
    <h1 *ngIf="currentLang === 'es-ES'">Nuestras cifras 2024</h1>
    <h1 *ngIf="currentLang === 'ca-ES'">Les nostres xifres 2024</h1>
  </div>

  <div class='contador-background'>
    <div class='asistentes'>
      <h4 *ngIf="currentLang === 'es-ES'">Asistentes<br>a<br>formaciones</h4>
      <h4 *ngIf="currentLang === 'ca-ES'">Assistents<br>a<br>formacions</h4>
      <div class='number' [innerHTML]="asistentes"></div>
    </div>
    <div class='asesoramiento'>
      <h4 *ngIf="currentLang === 'es-ES'">Asesoramientos<br>a empresas<br>y emprendedores</h4>
      <h4 *ngIf="currentLang === 'ca-ES'">Assessoraments<br>a empreses<br>i emprenedors</h4>
      <div class='number' [innerHTML]="asesoramientos"></div>
    </div>
    <div class='alumnos'>
      <h4 *ngIf="currentLang === 'es-ES'">Alumnos participantes<br>en nuestros<br>programas</h4>
      <h4 *ngIf="currentLang === 'ca-ES'">Alumnes participans<br>en els nostres<br>programes</h4>
      <div class='number'>{{alumnosT}}</div>
    </div>
    <div class='ayudas'>
      <h4 *ngIf="currentLang === 'es-ES'">Solicitudes de ayudas<br>a empresas</h4>
      <h4 *ngIf="currentLang === 'ca-ES'">Sol·licituds d'ajuts<br>a empreses</h4>
      <div class='number' [innerHTML]="ayudas"></div>
    </div>
  </div>
  </section>

  <section class='somos-miembros-de'>
    <div class='somos-adr-title'>
      <h1 *ngIf="currentLang === 'es-ES'">Somos miembros de</h1>
      <h1 *ngIf="currentLang === 'ca-ES'">Som membres de</h1>
    </div>
    <div class="somos-miembros-de-slider">
        <div class="slide-miembros-de">
          <a href='https://www.foroadr.es/' target="_blank">
            <h5>Foro ADR</h5>
            <img src="../../../assets/images/foroadr.webp" height="auto" width="200" title="ADR -  Asociación Española de Agencias de Desarrollo Regional" alt="ADR -  Asociación Española de Agencias de Desarrollo Regional" />
          </a>
        </div>
        <div class="slide-miembros-de">
          <a href='https://www.centrosdeexcelencia.com/' target="_blank">
            <h5>Centros de excelencia</h5>
            <img src="../../../assets/images/cex.webp" height="auto" width="200" title="Centros Promotores de la Excelencia CEX " alt="Centros Promotores de la Excelencia CEX " />
          </a>
        </div>
        <div class="slide-miembros-de">
          <a href='http://cii.igape.es/' target="_blank">
            <h5>Consejo Interterritorial<br>de Internacionalización</h5>
            <img width="200" height="auto" src="../../../assets/images/consejo-interterritorial-internacionalizacion.png" title="Consejo Interterritorial de Internacionalización" alt="Consejo Interterritorial de Internacionalización"/>
          </a>
        </div>
        <div class="slide-miembros-de">
          <a routerLink="programas-eoi"   *ngIf="currentLang === 'es-ES'">
            <h5>Escuela de Organización<br>Industrial</h5>
            <img width="200" height="auto" src="../../../assets/images/logo-eoi.png" title="Escuela de Organización Industrial" alt="Escuela de Organización Industrial"/>
          </a>
          <a routerLink="programes-eoi"  *ngIf="currentLang === 'ca-ES'">
            <h5>Escuela de Organización<br>Industrial</h5>
            <img width="200" height="auto" src="../../../assets/images/logo-eoi.png" title="Escuela de Organización Industrial" alt="Escuela de Organización Industrial"/>
          </a>  
        </div>        
    </div>
  </section>

  <section class='nuestros-colaboradores'>
  <div class='colaboradores-title'>
    <h1 *ngIf="currentLang === 'es-ES'">Nuestros colaboradores</h1>
    <h1 *ngIf="currentLang === 'ca-ES'">Els nostres col·laboradors</h1>
  </div>
  <div class="slider">
	<div class="slide-track">
		<div class="slide">
			<a href='https://www.cambramallorca.com/'><img src='../../../assets/images/cambra-mallorca.webp' height="auto" width="250" alt='Cambra de Comerç Mallorca'></a>
		</div>
		<div class="slide">
      <a href='https://www.camaramenorca.com/'><img src='../../../assets/images/cambra-menorca.webp' height="auto" width="250" alt='Cámara de Comercio de Menorca'></a>
		</div>
		<div class="slide">
      <a href='https://www.camaraibizayformentera.com/'><img src='../../../assets/images/cambra-eivissa.webp' height="auto" width="250" alt='Cámara Ibiza y Formentera'></a>
		</div>
		<div class="slide">
			<a href='https://soib.es/es/'><img src='../../../assets/images/soib.webp' height="auto" width="250" alt='SOIB formació i ocupació'></a>
		</div>
		<div class="slide">
			<a href='https://felib.es/es'><img src='../../../assets/images/felib.webp' height="auto" width="250" alt="Federació d'Entitats Locals de les Illes Balears"></a>
		</div>
		<div class="slide">
			<a href='https://www.eticentre.org/'><img src='../../../assets/images/eticentre.webp' height="auto" width="250" alt="Centre per a la gestió ètica de l'empresa"></a>
		</div>
		<div class="slide">
			<a href='https://balearicmarinecluster.com/'><img src='../../../assets/images/marinecluster.webp' height="auto" width="250" alt='Balearic Marine Cluster'></a>
		</div>
		<div class="slide">
			<a href='https://www.uib.es/'><img src='../../../assets/images/uib.webp' height="auto" width="250" alt='Universitat de les Illes Balears'></a>
		</div>
		<div class="slide">
			<a href='https://www.cambramallorca.com/'><img src='../../../assets/images/cambra-mallorca.webp' height="auto" width="250" alt='Cambra de Comerç Mallorca'></a>
		</div>
		<div class="slide">
      <a href='https://www.camaramenorca.com/'><img src='../../../assets/images/cambra-menorca.webp' height="auto" width="250" alt='Cámara de Comercio de Menorca'></a>
		</div>
		<div class="slide">
      <a href='https://www.camaraibizayformentera.com/'><img src='../../../assets/images/cambra-eivissa.webp' height="auto" width="250" alt='Cámara Ibiza y Formentera'></a>
		</div>
		<div class="slide">
			<a href='https://soib.es/es/'><img src='../../../assets/images/soib.webp' height="auto" width="250" alt='SOIB formació i ocupació'></a>
		</div>
		<div class="slide">
			<a href='https://felib.es/es'><img src='../../../assets/images/felib.webp' height="auto" width="250" alt="Federació d'Entitats Locals de les Illes Balears"></a>
		</div>
		<div class="slide">
			<a href='https://www.eticentre.org/'><img src='../../../assets/images/eticentre.webp' height="auto" width="250" alt="Centre per a la gestió ètica de l'empresa"></a>
		</div>
		<div class="slide">
			<a href='https://balearicmarinecluster.com/'><img src='../../../assets/images/marinecluster.webp' height="auto" width="250" alt='Balearic Marine Cluster'></a>
		</div>
		<div class="slide">
			<a href='https://www.uib.es/'><img src='../../../assets/images/uib.webp' height="auto" width="250" alt='Universitat de les Illes Balears'></a>
		</div>
    <div class="slide">
			<a href='https://www.cambramallorca.com/'><img src='../../../assets/images/cambra-mallorca.webp' height="auto" width="250" alt='Cambra de Comerç Mallorca'></a>
		</div>
		<div class="slide">
      <a href='https://www.camaramenorca.com/'><img src='../../../assets/images/cambra-menorca.webp' height="auto" width="250" alt='Cámara de Comercio de Menorca'></a>
		</div>
		<div class="slide">
      <a href='https://www.camaraibizayformentera.com/'><img src='../../../assets/images/cambra-eivissa.webp' height="auto" width="250" alt='Cámara Ibiza y Formentera'></a>
		</div>
		<div class="slide">
			<a href='https://soib.es/es/'><img src='../../../assets/images/soib.webp' height="auto" width="250" alt='SOIB formació i ocupació'></a>
		</div>
		<div class="slide">
			<a href='https://felib.es/es'><img src='../../../assets/images/felib.webp' height="auto" width="250" alt="Federació d'Entitats Locals de les Illes Balears"></a>
		</div>
		<div class="slide">
			<a href='https://www.eticentre.org/'><img src='../../../assets/images/eticentre.webp' height="auto" width="250" alt="Centre per a la gestió ètica de l'empresa"></a>
		</div>
		<div class="slide">
			<a href='https://balearicmarinecluster.com/'><img src='../../../assets/images/marinecluster.webp' height="auto" width="250" alt='Balearic Marine Cluster'></a>
		</div>
		<div class="slide">
			<a href='https://www.uib.es/'><img src='../../../assets/images/uib.webp' height="auto" width="250" alt='Universitat de les Illes Balears'></a>
		</div>
    <div class="slide">
			<a href='https://www.cambramallorca.com/'><img src='../../../assets/images/cambra-mallorca.webp' height="auto" width="250" alt='Cambra de Comerç Mallorca'></a>
		</div>
		<div class="slide">
      <a href='https://www.camaramenorca.com/'><img src='../../../assets/images/cambra-menorca.webp' height="auto" width="250" alt='Cámara de Comercio de Menorca'></a>
		</div>
		<div class="slide">
      <a href='https://www.camaraibizayformentera.com/'><img src='../../../assets/images/cambra-eivissa.webp' height="auto" width="250" alt='Cámara Ibiza y Formentera'></a>
		</div>
		<div class="slide">
			<a href='https://soib.es/es/'><img src='../../../assets/images/soib.webp' height="auto" width="250" alt='SOIB formació i ocupació'></a>
		</div>
		<div class="slide">
			<a href='https://felib.es/es'><img src='../../../assets/images/felib.webp' height="auto" width="250" alt="Federació d'Entitats Locals de les Illes Balears"></a>
		</div>
		<div class="slide">
			<a href='https://www.eticentre.org/'><img src='../../../assets/images/eticentre.webp' height="auto" width="250" alt="Centre per a la gestió ètica de l'empresa"></a>
		</div>
		<div class="slide">
			<a href='https://balearicmarinecluster.com/'><img src='../../../assets/images/marinecluster.webp' height="auto" width="250" alt='Balearic Marine Cluster'></a>
		</div>
		<div class="slide">
			<a href='https://www.uib.es/'><img src='../../../assets/images/uib.webp' height="auto" width="250" alt='Universitat de les Illes Balears'></a>
		</div>
    <div class="slide">
			<a href='https://www.cambramallorca.com/'><img src='../../../assets/images/cambra-mallorca.webp' height="auto" width="250" alt='Cambra de Comerç Mallorca'></a>
		</div>
		<div class="slide">
      <a href='https://www.camaramenorca.com/'><img src='../../../assets/images/cambra-menorca.webp' height="auto" width="250" alt='Cámara de Comercio de Menorca'></a>
		</div>
		<div class="slide">
      <a href='https://www.camaraibizayformentera.com/'><img src='../../../assets/images/cambra-eivissa.webp' height="auto" width="250" alt='Cámara Ibiza y Formentera'></a>
		</div>
		<div class="slide">
			<a href='https://soib.es/es/'><img src='../../../assets/images/soib.webp' height="auto" width="250" alt='SOIB formació i ocupació'></a>
		</div>
		<div class="slide">
			<a href='https://felib.es/es'><img src='../../../assets/images/felib.webp' height="auto" width="250" alt="Federació d'Entitats Locals de les Illes Balears"></a>
		</div>
		<div class="slide">
			<a href='https://www.eticentre.org/'><img src='../../../assets/images/eticentre.webp' height="auto" width="250" alt="Centre per a la gestió ètica de l'empresa"></a>
		</div>
		<div class="slide">
			<a href='https://balearicmarinecluster.com/'><img src='../../../assets/images/marinecluster.webp' height="auto" width="250" alt='Balearic Marine Cluster'></a>
		</div>
		<div class="slide">
			<a href='https://www.uib.es/'><img src='../../../assets/images/uib.webp' height="auto" width="250" alt='Universitat de les Illes Balears'></a>
		</div>
    <div class="slide">
			<a href='https://www.cambramallorca.com/'><img src='../../../assets/images/cambra-mallorca.webp' height="auto" width="250" alt='Cambra de Comerç Mallorca'></a>
		</div>
		<div class="slide">
      <a href='https://www.camaramenorca.com/'><img src='../../../assets/images/cambra-menorca.webp' height="auto" width="250" alt='Cámara de Comercio de Menorca'></a>
		</div>
		<div class="slide">
      <a href='https://www.camaraibizayformentera.com/'><img src='../../../assets/images/cambra-eivissa.webp' height="auto" width="250" alt='Cámara Ibiza y Formentera'></a>
		</div>
		<div class="slide">
			<a href='https://soib.es/es/'><img src='../../../assets/images/soib.webp' height="auto" width="250" alt='SOIB formació i ocupació'></a>
		</div>
		<div class="slide">
			<a href='https://felib.es/es'><img src='../../../assets/images/felib.webp' height="auto" width="250" alt="Federació d'Entitats Locals de les Illes Balears"></a>
		</div>
		<div class="slide">
			<a href='https://www.eticentre.org/'><img src='../../../assets/images/eticentre.webp' height="auto" width="250" alt="Centre per a la gestió ètica de l'empresa"></a>
		</div>
		<div class="slide">
			<a href='https://balearicmarinecluster.com/'><img src='../../../assets/images/marinecluster.webp' height="auto" width="250" alt='Balearic Marine Cluster'></a>
		</div>
		<div class="slide">
			<a href='https://www.uib.es/'><img src='../../../assets/images/uib.webp' height="auto" width="250" alt='Universitat de les Illes Balears'></a>
		</div>
    <div class="slide">
			<a href='https://www.cambramallorca.com/'><img src='../../../assets/images/cambra-mallorca.webp' height="auto" width="250" alt='Cambra de Comerç Mallorca'></a>
		</div>
		<div class="slide">
      <a href='https://www.camaramenorca.com/'><img src='../../../assets/images/cambra-menorca.webp' height="auto" width="250" alt='Cámara de Comercio de Menorca'></a>
		</div>
	</div>
  </div>
  </section>

  <section class='cta' >
	<a *ngIf="currentLang === 'es-ES'" (click)="openHomePopUp(content)"><h1 class="cta-home-area-profile">Nos gustaría ayudarte</h1><h2 class="cta-home-area-profile">Solicita asesoramiento</h2><h3 class="cta-home-area-profile">Ponte en contacto con nosotros</h3></a>
	<a *ngIf="currentLang === 'ca-ES'"(click)="openHomePopUp(content)" ><h1 class="cta-home-area-profile">Ens agradaria ajudar-te</h1><h2 class="cta-home-area-profile">Sol·licita assessorament</h2><h3 class="cta-home-area-profile">Posa't en contacte amb nosaltres</h3></a>
  </section>

  <app-slider></app-slider>

  <h2 class="te-ayudamos" *ngIf="currentLang === 'es-ES'">Aquí nos encontrarás</h2>
  <h2 class="te-ayudamos" *ngIf="currentLang === 'ca-ES'">Aquí ens trobaràs</h2>

  <section class='card-container'>
  <div class="card">
    <img src="../../../assets/images/img-son-castello.webp" class="card-img-top" alt="Centre Empresarial Menorca">
    <div class="card-body-home">
      <h3 class="card-title" *ngIf="currentLang === 'es-ES'">Oficina ADR<br>Balears Palma</h3>
      <h3 class="card-title" *ngIf="currentLang === 'ca-ES'">Oficina ADR<br>Balears Palma</h3>
      <h4 class="card-text">Polígon Son Castelló</h4>
      <h4 class="card-text">ADR Balears</h4>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/images/img-centrebit.webp" class="card-img-top" alt="Centre Bit Raiger">
    <div class="card-body-home">
      <h3 class="card-title" *ngIf="currentLang === 'es-ES'">Oficina ADR<br>Balears Inca</h3>
      <h3 class="card-title" *ngIf="currentLang === 'ca-ES'">Oficina ADR<br>Balears Inca</h3>
      <h4 class="card-text">Centre Bit Raiguer</h4>
      <h4 class="card-text">Espais Empresarials</h4>
    </div>
  </div>
  <div class="card">
    <img src="../../../assets/images/img-espai-menorca.webp" class="card-img-top" alt="Centre Empresarial Menorca">
    <div class="card-body-home">
      <h3 class="card-title" *ngIf="currentLang === 'es-ES'">Oficina ADR<br>Balears Menorca</h3>
      <h3 class="card-title" *ngIf="currentLang === 'ca-ES'">Oficina ADR<br>Balears Menorca</h3>
      <h4 class="card-text">Centre Empresarial</h4>
      <h4 class="card-text">ADR Balears</h4>
    </div>
  </div>
  </section>
</main>

<ng-template #content let-modal>
  <section class="modal-contact-form">
	<section class="modal-header">
		<p *ngIf="currentLang === 'es-ES'"><strong>Nos gustaría ayudarte</strong></p>
		<p *ngIf="currentLang === 'ca-ES'"><strong>Ens agradaria ajudar-te</strong></p>
		<button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
	</section>
	<section class="modal-body">
			<div class = "pop-up-container">
					<h4 *ngIf="currentLang === 'es-ES'">Necesitaremos tus datos para ponernos en contacto contigo</h4>
					<h4 *ngIf="currentLang === 'ca-ES'">Necessitarem les teves dades per a posar-nos en contacte amb tu</h4>
					<form [formGroup]="formSendMail" (ngSubmit)="onSubmit()" class="form-inline">
            <div class="form-group">
              <label for="contactEmail">
                <span *ngIf="currentLang === 'es-ES'">Tu nombre</span>
                <span *ngIf="currentLang === 'ca-ES'">El teu nom</span>
              </label>
              <input type="text" class="form-control form-control-lg" id="contactName" aria-describedby="contactNameHelp" formControlName="contactName" 
              [ngClass]="f['contactName'].errors ? 'is-invalid':'is-valid'">
            </div>
            <div class="form-group">
              <label for="contactEmail">
                <span *ngIf="currentLang === 'es-ES'">Dirección de correo electrónico</span>
                <span *ngIf="currentLang === 'ca-ES'">Adreça de correu electrònic</span>
              </label>
              <input type="email" class="form-control form-control-lg" id="contactEmail" aria-describedby="emailHelp" formControlName="contactEmail" 
              [ngClass]="f['contactEmail'].errors ? 'is-invalid':'is-valid'">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" formControlName="acceptTerms" 
              [ngClass]="f['acceptTerms'].errors ? 'is-invalid':'is-valid'">
              <label class="form-check-label" for="acceptTerms"><a routerLink="/aviso-legal/2772" aria-label="terms and conditions" target="_blank">
                <h5 *ngIf="currentLang === 'es-ES'">Aceptar los términos y condiciones</h5>
                <h5 *ngIf="currentLang === 'ca-ES'">Acceptar els termes i condicions</h5>
                </a></label>
            </div>            
            <div class='form-group submit-btn'>
              <button type="submit" class="btn btn-dark btn-lg float-end" [disabled]="!formSendMail.valid && !submitted">Enviar</button>
            </div>
					</form>
			</div>
	</section>
	<section class="modal-footer">
    <div class="spinner-border" role="status" *ngIf ="formSendMail.valid && submitted"></div>
    <div role="alert" id="postFeedback"></div>
	</section>
</section>  
</ng-template>