<div *ngIf="contenido">
 
<!--     <h1>{{contenido.attributes.title}}</h1>
    <div class="menu-texto-idi" [innerHTML]='contenido.attributes.text.replaceAll("images/","https://contents.idi.es/images/")'> </div>
 -->
    <div class="card">
    
        <div class='card__head'>
          <img width="763" height="429" src={{contenido.attributes.images.image_fulltext}} alt="{{contenido.attributes.title}}" title="{{contenido.attributes.title}}">
        </div>
          
        <div>
          <h2 class="card__title">{{contenido.attributes.title}}</h2>
        </div>
    
        <div class="card__body" [innerHTML]="contenido.attributes.text.replaceAll( 'images/', 'https://contents.idi.es/images/') | wellFormattedLink">
        </div>
    
      </div>
 
</div>

<div class="loading-data" *ngIf="!contenido">
  <button class="alert alert-info" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>&nbsp; 
    <span *ngIf="currentLang === 'es-ES'" role="status">Cargando datos de proyectos ...</span>
    <span *ngIf="currentLang === 'ca-ES'" role="status">Carregant dades de projectes ...</span>
  </button>
</div>
