.row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  gap: 2rem;
}

img {
  width: 100%;
  height: 200px;

}

.loading-data {
  margin-bottom: 25rem;
}

.card {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:  'image image'
                        'title title'
                        'texto texto';
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  border: none;
}

h5, h4{
  padding-left: 1rem;
}

h4 {
  padding-top: 1rem;
}

p {
  margin-top: 0;
  margin-bottom: 2rem!important;
}

.projects-banner {
  margin-bottom: 0;
}

.idi__service {
  grid-area: service;
}

.card__head {
  grid-area: image;
  margin-bottom: 4rem;
}

.card__title {
  grid-area: title;
  padding-right: 0;
  font-size: 3rem;
  margin-bottom: 2rem;
}

.card__body {
  grid-area: texto;
  font-size: 1.5rem;
}

.noticia__tag{
  display: grid;
  grid-template-columns: repeat(12,1fr);
  gap: 3rem;
}

small {
  font-weight: 800;
}

.enlaces__relacionados {
  list-style-type: none;
  padding: 0;
}

.enlaces__relacionados a {
  background-color: transparent;
  color: black!important;

}

.enlaces__relacionados li {
  margin: 1rem 0 1rem 0;
}

.barra_meta {
  border-bottom: 5px solid #ededed;
  display: block;
  padding: 5px 0 0 0;
  margin: 0 0 1rem 0;
}

.noticia-tag {
  display: flex;
  justify-content: flex-start;
}

.noticia-tag-item {
  flex: 1;
  margin: 0 .5rem;
}

@media only screen and (max-width: 795px) {
  .row {
    grid-template-columns: 100%;

  }
  img {
    width: 100%;
    height: auto;
  }

  .detail-news-container img {
      width: 100%;
      height: auto;
  }
  .card {
    border: none;
    grid-template-columns: 1fr;
    grid-template-areas:    'service'
                              'image' 
                              'title'
                              'texto';
    margin-bottom: 2rem;
  }
  .card__title {
    padding-right: 0;
    font-size: 2.2rem;
  }
  .card__body {
    padding-left: 0;
    padding-right: 0;
    font-size: 1.5rem;
    line-height: 2.5rem;
  }
  .card__head{
    margin-bottom: 2rem;
  }
  .card__head > img {
    width: 100%;
    height: auto;
  }
  .card__footer {
    padding-left: 0;
  }

  .card-header {
    padding: 0;
    min-height: auto;
    max-height: 100%;
  }
  .card-body {
    font-size: 1rem;
    min-height: auto;
    max-height: auto;
    padding: 1rem;
  }
}