<section *ngIf="contenido" ngClass="common-container">
  <section class="card main-content">
    <div class='card__head' *ngIf="contenido.attributes.images.image_fulltext">
      <img width="763" height="429" src={{contenido.attributes.images.image_fulltext}} alt="{{contenido.attributes.title}}" title="{{contenido.attributes.title}}">
    </div>
          
    <h2 [ngClass]="{'card__title__jes': isJES, 'card__title__jea': isJEA, 'card__title__jep': isJEP}">{{contenido.attributes.title}}</h2>
    
    <section ngClass="card__body" [innerHTML]="contenido.attributes.text.replaceAll( 'images/', 'https://contents.idi.es/images/') | wellFormattedLink"></section>
  </section>
  <section *ngIf="isProgramaIbemprenJove" ngClass="imprenjove-adds">
    <ul>
      <li><a [routerLink]="['/ibemprenjove-cooperativas', program_id]">
        <span *ngIf="currentLang === 'es-ES'" role="status">Cooperativas</span>
        <span *ngIf="currentLang === 'ca-ES'" role="status">Cooperatives</span>
      </a></li>
      <li>
        <a [routerLink]="['/ibemprenjove-premios', program_id]">
        <span *ngIf="currentLang === 'es-ES'" role="status">Premios</span>
        <span *ngIf="currentLang === 'ca-ES'" role="status">Premis</span>
        </a>
      </li>
      <li><a [routerLink]="['/ibemprenjove-historico', program_id]">
        <span *ngIf="currentLang === 'es-ES'" role="status">Histórico</span>
        <span *ngIf="currentLang === 'ca-ES'" role="status">Històric</span>
        </a></li>
    </ul>
  </section>
</section>

<div class="loading-data" *ngIf="!contenido">
  <button class="alert alert-info" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>&nbsp; 
    <span *ngIf="currentLang === 'es-ES'" role="status">Cargando los datos del proyecto ...</span>
    <span *ngIf="currentLang === 'ca-ES'" role="status">Carregant les dades del projecte ...</span>
  </button>
</div>
