<div class='container-crecer'>
  <div class="top-crecer">
    <h1 class="crecer">#projectar</h1>
  </div>
  <div class="bottom-crecer">
    <div class="bottom-left-crecer">
      <img src='../../assets/images/logo-adrbalears-proyectar.webp' alt=''>
    </div>
    <div class="bottom-right-crecer">
      <h2>Preparat per fer créixer la teva empresa més enllà de les Illes Balears?</h2>
      <h3>Comença el procés d'internacionalització amb els diferents programes d'assessorament i finançament.
        Aprofita els nostres recursos per aconseguir vendre els teus productes a l'exterior, o per implantar-te a les Balears si vens de fora.
        Ets d'un sector madur que aposta per la promoció local dels teus productes?
        Podem col·laborar.</h3>
      <h3>
        <a class ="projectar" *ngIf="currentLang === 'es-ES'" routerLink="/ibexporta-xecs/es/bienvenidos-a-ibexporta-xecs/">_Ibexporta</a>
        <a class ="projectar" *ngIf="currentLang === 'ca-ES'" routerLink="/ibexporta-xecs/">_Ibexporta</a>: programa d'acompanyament per iniciar la venda de productes a l'exterior.
      </h3>
      <h3>
        <a class ="projectar" *ngIf="currentLang === 'es-ES'" routerLink="/ibexporta-xecs/es/bienvenidos-a-ibexporta-xecs/">_Ibexporta Xecs</a>
        <a class ="projectar" *ngIf="currentLang === 'ca-ES'" routerLink="/ibexporta-xecs/">_Ibexporta Xecs</a>: finançament de plans d'internacionalització per a les empreses de les Illes Balears.
      </h3>
      <h3>
        <a class ="projectar" *ngIf="currentLang === 'es-ES'" routerLink="/invest-in-balearics/es/bienvenidos-a-invest-in-balearics/">_InvestinBalearics</a>
        <a class ="projectar" *ngIf="currentLang === 'ca-ES'" routerLink="/invest-in-balearics/">_InvestinBalearics</a>: assessorament per a empreses nacionals o internacionals que es volen establir a les Illes Balears.
      </h3>
      <h3>
        <a class ="projectar" *ngIf="currentLang === 'es-ES'" routerLink="/palmainternationalboatshow/es/bienvenidos-a-palmainternationalboatshow/">_Palma International Boat Show</a>
        <a class ="projectar" *ngIf="currentLang === 'ca-ES'" routerLink="/palmainternationalboatshow/">_Palma International Boat Show</a>: una de les principals cites nàutiques per al sector a nivell internacional
        i que inaugura la temporada a la Mediterrània.
      </h3>
    </div>
  </div>
</div>
