<div class='container-contact'>
  <div class="left-contact">
    <img src='../../assets/images/logo-adrbalears-proyectar.webp' alt=''>
  </div>
  <div class="right-contact">
    <h1 class="proyectar">#PROJECTAR S5 S6</h1><br><br>
    <h4>INTERNACIONALIZACIÓN:</h4><br>
    <h2>IBEXPORTAxecs</h2>
    <h2>LOOP</h2><br>

    <h4>ATRACCIÓN DE INVERSIÓN:</h4><br>
    <h2>INVESTINBALEARICS</h2><br>

    <h4>FERIAS MALLORCA:</h4><br>
    <h2>PIBS</h2><br>
    
    <h4>FERIAS MENORCA</h4><br>
   
  </div>
</div>
