<div class='container-crecer'>
  <div class="top-crecer">
    <h1 class="crecer">#projectar</h1>
  </div>
  <div class="bottom-crecer">
    <div class="bottom-left-crecer">
      <img src='../../assets/images/logo-adrbalears-proyectar.webp' alt=''>
    </div>
    <div class="bottom-right-crecer">
      <h2>Preparat per fer créixer la teva empresa més enllà de les Illes Balears?</h2>
      <h3>Comença el procés d’internacionalització amb els diferents programes d’assessorament i finançament.
        Aprofita els nostres recursos per aconseguir vendre els teus productes a l’exterior, o per implantar-te a les Balears si vens de fora.
        Ets d’un sector madur que aposta per la promoció local dels teus productes?
        Podem col·laborar.</h3>
      <h3><span>_Ibexporta:</span> programa d’acompanyament per iniciar la venda de productes a l’exterior.</h3>
      <h3><span>_Ibexporta Xecs: </span> finançament de plans d’internacionalització per a les empreses de les Illes Balears.</h3>
      <h3><span>_InvestinBalearics:</span> assessorament per a empreses nacionals o internacionals que es volen establir a les Illes Balears.</h3>
      <h3><span>_Palma International Boat Show:</span> una de les principals cites nàutiques per al sector a nivell internacional
        i que inaugura la temporada a la Mediterrània.</h3>
    </div>
  </div>
</div>
