.container-crecer{
  display: grid;
  grid-template-areas: "topCrecer" "bottomCrecer";
}

.top-crecer {
  grid-area: topCrecer;
  margin-bottom: 2rem;
}

.bottom-crecer {
  grid-area: bottomCrecer;
  display: grid;
  grid-template-columns: 15% 85%;
}

h2:first-child{
  margin-bottom: 3rem;
}

h3 {
  font-weight: 200;
  margin-bottom: 2rem;
}

h3 > span {
  font-weight: bold;
  color: #ed7448;
}

h1 {
  background-color: #ed7448;
  color: #fff!important;
  padding: .5rem;
  width: 100%;
}

.projectar{
  font-weight: bold;
}

.projectar:hover {
  background-color: transparent!important;
  color: #003747!important;
}

@media screen and (max-width: 760px) {
  h3 {
    background-color: #fff;
    color: #000;
  }

  .bottom-crecer{
    display: grid;
    grid-template-columns: 100%;
  }
  .bottom-left-crecer {
    margin-bottom: 1rem;
  }
}