<h1 *ngIf="currentLang === 'es-ES'">LISTADO DE GUÍAS ADR BALEARS</h1>
<h1 *ngIf="currentLang === 'ca-ES'">LLISTAT DE GUIES ADR BALEARS</h1>
<ol class="inside">
  <li>
    <a href='https://contents.idi.es/images/guies/guia_marxandatge_visual.pdf'>
      <p *ngIf="currentLang === 'es-ES'">Guía de merchandising visual y escaparatismo para el comercio</p>
      <p *ngIf="currentLang === 'ca-ES'">Guia de marxandatge visual i aparadorisme per al comerç</p>
    </a>
  </li>
  
  <li>
    <a href='https://contents.idi.es/images/guies/guia_retolacio_2018.pdf'>
      <p *ngIf="currentLang === 'es-ES'">Guía de buenas prácticas para la imagen exterior de los locales comerciales</p>
      <p *ngIf="currentLang === 'ca-ES'">Guia de bones pràctiques per a la imatge exterior dels locals comercials</p>
    </a>
  </li>

  <li>
    <a href='https://contents.idi.es/images/guies/guiasouvenir.pdf'>
      <p *ngIf="currentLang === 'es-ES'">Guía de buenas prácticas para las terrazas de souvenirs</p>
      <p *ngIf="currentLang === 'ca-ES'">Guia de bones pràctiques per a les terrasses de souvenirs</p>
    </a>
  </li>
  
  <li>
    <a href='https://contents.idi.es/images/guies/guiacoaib-2023_webidi.pdf'>
      <p *ngIf="currentLang === 'es-ES'">Manual de buenas prácticas para la redacción de una ordenanza reguladora del paisaje urbano</p>
      <p *ngIf="currentLang === 'ca-ES'">Manual de bones pràctiques per a la redacció d'una ordenança reguladora del paisatge urbà</p>
    </a>
  </li>
   
<li>
  <a href='https://contents.idi.es/images/guies/guia-digit-web-idi.pdf'>
    <p *ngIf="currentLang === 'es-ES'">Guía de buenas prácticas para la digitalización de las empresas</p>
    <p *ngIf="currentLang === 'ca-ES'">Guia de bones pràctiques per a la digitalització de les empreses</p>
  </a>
</li>
  
<li>
  <a href='https://contents.idi.es/images/guies/guia-sost-web-idi.pdf'>
    <p *ngIf="currentLang === 'es-ES'">Guía de buenas prácticas para la sostenibilidad de las empresas</p>
    <p *ngIf="currentLang === 'ca-ES'">Guia de bones pràctiques per a la sostenibilitat de les empreses</p>
  </a>
</li>
</ol>
