<div class='container-contact'>
  <div class="left-contact">
    <img src='../../assets/images/logo-adr-balears.webp' alt=''>
  </div>
  <div class="right-contact">
    <h1>{{"Contacta" | translate}}</h1>
    <h1>ADR Balears</h1><br>
    <h2>Agència Desenvolupament Regional Balears</h2><br>
    <h3>Plaça de Son Castelló, 1</h3><br>
    <h3>07009 Palma</h3><br>
    <h3>T. 971 176 161</h3><br>
    <h3><a href='mailto:info@adrbalears.es?subject=Solicitud de información a ADR Balears'>infoatadrbalears.es</a></h3>
  </div>
</div>
