<div class='container-emprender'>
  <div class="top-emprender">
    <h1 class="emprender">#emprendre</h1>
  </div>
  <div class="bottom-emprender">
    <div class="bottom-left-emprender">
      <img src='../../assets/images/logo-adrbalears-emprender.webp' alt=''>
    </div>
    <div class="bottom-right-emprender">
      <h2>Tens una idea de negoci i vols crear la teva empresa?</h2>
      <h3>T'acompanyam durant el procés amb els programes i les eines que t'ajudaran a aconseguir l'èxit empresarial</h3>
      <h3> <span>
        <a class ="emprendre" *ngIf="currentLang === 'es-ES'" routerLink="/ibemprenjove/es/bienvenidos-a-iemprenjove/">_Ibemprenjove</a>
        <a class ="emprendre" *ngIf="currentLang === 'ca-ES'" routerLink="/ibemprenjove/">_Ibemprenjove</a>:</span> espai de foment i suport a l'emprenedoria per a l'alumnat de primària, secundària,
        formació professional bàsica i cicles formatius, de les Illes Balears.</h3>
      <h3><span>
        <a class ="emprendre" *ngIf="currentLang === 'es-ES'" routerLink="/bempren/es/iempren-recursos-para-emprender/">_Ibempren</a>
        <a class ="emprendre" *ngIf="currentLang === 'ca-ES'" routerLink="/ibempren/">_Ibempren</a>:</span> recursos, serveis i formació per a persones emprenedores que volen iniciar un negoci.</h3>
      <h3><span>
        <a class ="emprendre" *ngIf="currentLang === 'es-ES'" routerLink="/ibtalent/es/bienvenidos-a-ibtalent/">_Ibtalent</a>
        <a class ="emprendre" *ngIf="currentLang === 'ca-ES'" routerLink="/ibtalent/">_Ibtalent</a>:</span> millora del talent del personal per impulsar la gestió eficient i innovadora de les empreses.</h3>
      <h3><span>
        <a class ="emprendre" *ngIf="currentLang === 'es-ES'" routerLink="/ibgestio-xecs/es/bienvenidos-a-ibgestio-xecs/">_Ibgestió xecs</a>
        <a class ="emprendre" *ngIf="currentLang === 'ca-ES'" routerLink="/ibgestio-xecs/">_Ibgestió xecs</a>:</span> finançament de plans per optimitzar la gestió empresarial de la indústria.</h3>
      <h3><span>
        <a class ="emprendre" *ngIf="currentLang === 'es-ES'" routerLink="/ibdigitalitzacio-xecs/es/bienvenidos-a-ibdigitalitzacio-xecs/">_Ibdigital xecs</a>
        <a class ="emprendre" *ngIf="currentLang === 'ca-ES'" routerLink="/ibdigitalitzacio-xecs/">_Ibdigital xecs</a>
        :</span> finançament de plans de transformació digital per a les empreses industrials.</h3>
      <h3><span>_Espais empresarials:</span> el Centre Bit Raiguer posa a disposició de persones emprenedores i dels sectors empresarials
        un espai públic de coworking i una incubadora d'empreses per a negocis innovadors de recent creació </h3>
    </div>
  </div>
</div>


<div *ngIf="contenido">
  <div class="card">
  
    <div class='card__head' *ngIf="contenido.attributes.images.image_fulltext">
      <img width="129px" height="129px" src={{contenido.attributes.images.image_fulltext}} alt="{{contenido.attributes.title}}" title="{{contenido.attributes.title}}">
    </div>
        
    <!-- <h2 class="card__title">{{contenido.attributes.title}}</h2> -->
          
    <div class="card__body" [innerHTML]="contenido.attributes.text.replaceAll( 'images/', 'https://contents.idi.es/images/') | wellFormattedLink"></div>
  
  </div>
</div>

<div class="loading-data" *ngIf="!contenido">
  <button class="alert alert-info" type="button" disabled>
    <span class="spinner-grow spinner-grow-sm" aria-hidden="true"></span>&nbsp; 
    <span *ngIf="currentLang === 'es-ES'" role="status">Cargando los datos del proyecto ...</span>
    <span *ngIf="currentLang === 'ca-ES'" role="status">Carregant les dades del projecte ...</span>
  </button>
</div>