<div class='container-emprender'>
  <div class="top-emprender">
    <h1 class="emprender">#emprendre</h1>
  </div>
  <div class="bottom-emprender">
    <div class="bottom-left-emprender">
      <img src='../../assets/images/logo-adrbalears-emprender.webp' alt=''>
    </div>
    <div class="bottom-right-emprender">
      <h2>Tens una idea de negoci i vols crear la teva empresa?</h2>
      <h3>T'acompanyam durant el procés amb els programes i les eines que t'ajudaran a aconseguir l'èxit empresarial</h3>
      <h3> <span><a routerLink="/iemprenjove/Ibemprėnjove/2997/414/no/emprender-bck/417/405">_Ibemprenjove</a>:</span> espai de foment i suport a l'emprenedoria per a l'alumnat de primària, secundària,
        formació professional bàsica i cicles formatius, de les Illes Balears.</h3>
      <h3><span><a routerLink="/ibempren/3045/414/no/emprender-bck/417/405">_Ibempren</a>:</span> recursos, serveis i formació per a persones emprenedores que volen iniciar un negoci.</h3>
      <h3><span><a routerLink="/ibtalent-es/3047/363">_Ibtalent</a>:</span> millora del talent del personal per impulsar la gestió eficient i innovadora de les empreses.</h3>
      <h3><span><a routerLink="/ibgestio-xecs/3014/353">_Ibgestió xecs</a>:</span> finançament de plans per optimitzar la gestió empresarial de la indústria.</h3>
      <h3><span><a routerLink="/ibdigitalitzacio-xecs/3014/353">_Ibdigital xecs</a>:</span> finançament de plans de transformació digital per a les empreses industrials.</h3>
      <h3><span>_Espais empresarials:</span> el Centre Bit Raiguer posa a disposició de persones emprenedores i dels sectors empresarials
        un espai públic de coworking i una incubadora d'empreses per a negocis innovadors de recent creació </h3>
    </div>
  </div>
</div>

<!-- <div class="detail-news-container" *ngIf="unaNoticiaAttribute">

  <div class="card">
      
      <div class="card__head" *ngIf="unaNoticiaAttribute.images.image_fulltext">
        <img src={{unaNoticiaAttribute.images.image_fulltext}} alt={{unaNoticiaAttribute.title}} title={{unaNoticiaAttribute.title}}>
      </div>

      <div class="card__body">
        <h1 class="card__title">{{unaNoticiaAttribute.title}}</h1>
        <h4 class="card__date barra_meta" *ngIf="unaNoticiaAttribute.images.image_fulltext">{{unaNoticiaAttribute.modified | date: 'dd/MM/yyyy'}}</h4>
        <div class="card__text" [innerHTML]="unaNoticiaAttribute.text.replaceAll('https://idi.es/index.php/contenido_texto_nivel3/detalle/','#/sectors-idi-hlp-detail/').replaceAll('/index.php/contenido_busca_web_nivel3/detalle/','/#/idi-detail/').replaceAll( 'images/', 'https://contents.idi.es/images/')"></div>
      </div>

  </div>
</div> -->

<!-- <small class="barra_meta">{{'ArchivadoEn' | translate}}:</small>
   <div class="noticia-tag">
      <div *ngFor="let tag of unaNoticiaAttribute!.tags | keyvalue">
          <a class="noticia-tag-item" routerLink="/idi-result-list/{{tag.value}}">{{tag.value}}</a>
      </div>
  </div>
  <hr> -->
<div *ngIf="!unaNoticiaAttribute"><i class="fa fa-spinner fa-pulse fa-1x fa-fw" style='color: #a2d3da'></i>{{'gettingContentsIDI' | translate}}</div>
