.container-emprender {
  display: grid;
  grid-template-areas: "topEmprender" "bottomEmprender";
}

.top-emprender {
  grid-area: topEmprender;
  margin-bottom: 2rem;
}

.bottom-emprender {
  grid-area: bottomEmprender;
  display: grid;
  grid-template-columns: 15% 85%;
}

.emprendre:hover {
  background-color: transparent!important;
  color: #003747!important;
}

h2:first-child {
  margin-bottom: 3rem;
}

h3 {
  font-weight: 200;
  margin-bottom: 2rem;
}

h3 > span {
  font-weight: bold;
  color: #6b9da7;
}

h1 {
  background-color: #6b9da7;
  color: #fff!important;
  padding: .5rem;
  width: 100%;
}

@media screen and (max-width: 795px) {
  h3 {
    background-color: #fff;
    color: #000;
  }

  .bottom-emprender{
    display: grid;
    grid-template-columns: 100%;
  }
  .bottom-left-emprender {
    margin-bottom: 1rem;
  }
}