<div class='container-contact'>
  <div class="left-contact">
    <img src='../../assets/images/logo-adrbalears-emprender.webp' alt=''>
  </div>
  <div class="right-contact">
    <h1 class="emprender">#EMPRENDRE S1</h1><br><br>
    <h4>SENSIBILIZACIÓN:</h4><br>
    <h2>IBEMPRENJOVE</h2><br>
    <h4>EMPRENDEDURÍA:</h4><br>
    <h2>IBEMPREN</h2><br>
    <h4>GESTIÓN y CAPACITACIÓN:</h4><br>
    <h2>IBTALENT</h2>
    <H2>IBGESTIÓxecs</H2>
    <H2>IBDIGITALITZACIÓxecs</H2><br>
    <h4>TRANSVERSAL:</h4><br>
    <h2>Premios LOCALES/NACIONALES</h2>
    <H2>Foros ADR/ICEX/ENISA</H2>
    <H2>Redes empresariales: XSPE/ADRNETWORK</H2>
    <h2>Colaboraciones: Cibervoluntarios</h2>
    <h2>SOIB: Plan Autoempleo</h2>
  </div>
</div>
