/* You can add global styles to this file, and also import other style files */
/* @import 'bootstrap/dist/css/bootstrap.css'; */
@use 'adr-colors';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding:0;
    border: 0;
    outline:0;
    font-size:100%;
    vertical-align: baseline;
    background: transparent;
    font-family: "Inter", sans-serif;
}
html {
    margin: auto;
    font-size: 16px;
}
body {
    background-color: #fff;
}
.img-top-home {
   margin-bottom: 3rem;
}
img, svg {
    vertical-align: inherit!important;
    max-width: 100%;
}
h1, h2, h3, h4, h5 {
    margin-bottom: 0!important;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section { 
    display:block;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0!important;
}
nav ul {
    list-style: none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none!important;
    color: adr-colors.$primary-adr-txt!important;
    :visited {
        color: adr-colors.$primary-adr-txt!important;
    }
    :hover {
        color: adr-colors.$secondary-adr!important;
    }
}
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}
del {
    text-decoration: line-through;
}
abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align: middle;
}
::selection {
    color: adr-colors.$primary-adr;
    background: adr-colors.$secondary-adr;
}
.container {
    --bs-gutter-x: 0!important;
    --bs-gutter-y: 0!important;
}
.btn {
    transition: background-color 2s ease-out;
}
.btn:hover {
    text-decoration: underline;
    text-underline-offset: 20%;
    color: adr-colors.$secondary-adr!important;
}

input:focus,
textarea:focus,
select:focus,
a:focus {
  outline: none;
}

.card:hover{
    /* border: 1px solid adr-colors.$secondary-adr; */
    border-radius: 0;
}

.card-body {
    grid-area: title;
    /* border: 1px solid adr-colors.$primary-adr; */
/*     background-color: adr-colors.$primary-adr;
    color: #ffffff!important; */
    min-height: 12rem;
    line-height: 1.4285em;
    /* padding-left: 1rem!important; */
}

.card-img-top {
    min-height: 10rem;
    max-height: 10rem;
}

.card-title {
    font-size: .9rem;
    color: #fff;
}

.adrbalears {
    color:  adr-colors.$primary-adr;
    background-color: #fff;
    :hover {
        background-color: adr-colors.$primary-adr!important;
        color: #fff!important;
    }
}
.emprendre{
    color:  adr-colors.$emprender;
    background-color: #fff;
    :hover {
        background-color: adr-colors.$emprender!important;
        color: #fff!important;
    }
}
.connectar{
    color:  adr-colors.$conectar!important;
    background-color: #fff;
    :hover {
        background-color: adr-colors.$conectar!important;
        color: #fff!important;
    }
}
.projectar{
    color:  adr-colors.$proyectar!important;
    background-color: #fff;
    :hover {
        background-color: adr-colors.$proyectar!important;
        color: #fff!important;
    }
}

.emprendre-bck {
    background-color:  #6b9da7!important;
}
.connectar-bck {
    background-color:  #71b796!important;
}
.projectar-bck {
    background-color:  #ed7448!important;
}

.linear {
    background-image: linear-gradient(#0098cb, #003747);
}
  
.radial {
   background-image: radial-gradient(#000, #003747);
}
  
.conic {
  background-image: conic-gradient(#003747, #fff);
}

@media (max-width: 992px) {
    header {
        margin-bottom: 0;
    }
    .h1, h1 {
      font-size: 2rem!important;
    }
    .img-top-home {
        margin-bottom: 1rem;
     }
  }