<h1  [ngClass]="{'card__title__jes': isJES, 'card__title__jea': isJEA, 'card__title__jep': isJEP}">Cooperativas {{cooperativaProgram}}</h1>
<section *ngIf="cooperativaList" ngClass="cooperativa-list">
    <div *ngFor="let cooperativa of cooperativaList">
      <div class="adr-card">
        <div class="card-header">
          <img *ngIf="cooperativa['logo']" src="https://app.iemprenjove.es/storage/{{cooperativa['logo']}}" alt="{{cooperativa['name']}}" title="{{cooperativa['name']}}" />
          <img *ngIf="!cooperativa['logo']" src="../../../assets/images/sense-imatge.jpg" width="187" height="auto" alt="{{cooperativa['name']}}" title="{{cooperativa['name']}}" />
        </div>
        <div class="card-body">
          <h4>{{cooperativa['name']}}</h4>
          <h5>{{cooperativa['centre']['name']}}</h5>
        </div>
        <div class='card-footer'>
          <a href="{{cooperativa['video']}}">Video</a> | <a href="{{cooperativa['url']}}">Web</a> | <a href="{{cooperativa['socialnetworks']}}">Xarxes socials</a>
        </div>
      </div>
    </div>
</section> 
