

<h1  [ngClass]="{'card__title__jes': isJES, 'card__title__jea': isJEA, 'card__title__jep': isJEP}">{{cooperativaProgram}} 2023-2024</h1>
<hr [ngClass]="{'card__title__jes_underline': isJES, 'card__title__jea_underline': isJEA, 'card__title__jep_underline': isJEP}">
<section *ngIf="cooperativaList2324" ngClass="cooperativa-list">
    <div *ngFor="let cooperativa of cooperativaList2324">
      <div class="item-cooperativa">
        <div class="item-cooperativa-header">
          <img *ngIf="cooperativa['logo']" src="https://app.iemprenjove.es/storage/{{cooperativa['logo']}}" alt="{{cooperativa['name']}}" title="{{cooperativa['name']}}" />
          <img *ngIf="!cooperativa['logo']" src="../../../assets/images/sense-imatge.jpg" width="187" height="auto" alt="{{cooperativa['name']}}" title="{{cooperativa['name']}}" />
        </div>
        <div class="item-cooperativa-body">
          <h4>{{cooperativa['name']}}</h4>
          <h5>{{cooperativa['centre']['name']}}</h5>
        </div>
        <div class='item-cooperativa-footer'>
          <a href="{{cooperativa['video']}}">Video</a> | <a href="{{cooperativa['url']}}">Web</a> | <a href="{{cooperativa['socialnetworks']}}">Xarxes socials</a>
        </div>
      </div>
    </div>
</section> 


<h1 [ngClass]="{'card__title__jes': isJES, 'card__title__jea': isJEA, 'card__title__jep': isJEP}">{{cooperativaProgram}} 2022-2023</h1>
<hr [ngClass]="{'card__title__jes_underline': isJES, 'card__title__jea_underline': isJEA, 'card__title__jep_underline': isJEP}">
<section *ngIf="cooperativaList2223" ngClass="cooperativa-list">
    <div *ngFor="let cooperativa of cooperativaList2223">
      <div class="item-cooperativa">
        <div class="item-cooperativa-header">
          <img *ngIf="cooperativa['logo']" src="https://app.iemprenjove.es/storage/{{cooperativa['logo']}}" alt="{{cooperativa['name']}}" title="{{cooperativa['name']}}" />
          <img *ngIf="!cooperativa['logo']" src="../../../assets/images/sense-imatge.jpg" width="187" height="auto" alt="{{cooperativa['name']}}" title="{{cooperativa['name']}}" />
        </div>
        <div class="item-cooperativa-body">
          <h4>{{cooperativa['name']}}</h4>
          <h5>{{cooperativa['centre']['name']}}</h5>
        </div>
        <div class='item-cooperativa-footer'>
          <a href="{{cooperativa['video']}}">Video</a> | <a href="{{cooperativa['url']}}">Web</a> | <a href="{{cooperativa['socialnetworks']}}">Xarxes socials</a>
        </div>
      </div>
    </div>
</section> 
